<template>
    <div>
         <div p-color-scheme="light">
            <div class="Polaris-Page py-3">
                 <form v-on:submit.prevent="submitOfferForm">
                    <div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">

                    <div class="Polaris-Page-Header__Row">
                        <div class="Polaris-Page-Header__BreadcrumbWrapper">
                        <nav role="navigation">
                           <router-link to="/manage-upsell-products" class="Polaris-Breadcrumbs__Breadcrumb back-page-btn" data-polaris-unstyled="true">
                            <span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon">
                                    <span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                        <path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
                                    </svg></span></span><span class="Polaris-VisuallyHidden">Settings</span>
                           </router-link>
                        </nav>
                        </div>
                        <div class="Polaris-Page-Header__TitleWrapper">
                        <h1 class="Polaris-Header-Title">Add new offer</h1>
                        </div>
                        <div class="Polaris-Page-Header__RightAlign">
                            <div class="Polaris-Page-Header__PrimaryActionWrapper">
                                <button class="Polaris-Button Polaris-Button--primary" type="submit">
                                    <span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-md-12"> -->
                                 <!-- Errors -->
                          <div class="py-4" v-if="errors.length">
                           <div class="Polaris-Banner Polaris-Banner--statusCritical Polaris-Banner--hasDismiss Polaris-Banner--withinPage" tabindex="0" role="alert" aria-live="polite" aria-labelledby="PolarisBanner18Heading" aria-describedby="PolarisBanner18Content">

                            <div class="Polaris-Banner__Ribbon"><span class="Polaris-Icon Polaris-Icon--colorCritical Polaris-Icon--applyColor"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                <path d="M11.768.768a2.5 2.5 0 0 0-3.536 0l-7.464 7.464a2.5 2.5 0 0 0 0 3.536l7.464 7.464a2.5 2.5 0 0 0 3.536 0l7.464-7.464a2.5 2.5 0 0 0 0-3.536l-7.464-7.464zm-2.768 5.232a1 1 0 1 1 2 0v4a1 1 0 1 1-2 0v-4zm2 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                </svg></span></div>
                            <div class="Polaris-Banner__ContentWrapper">
                            <div class="Polaris-Banner__Heading" id="PolarisBanner18Heading">
                                <p class="Polaris-Heading">This offer contains {{errors.length}} errors</p>
                            </div>
                            <div id="myFieldIDError" class="py-2">
                              <ul class="Polaris-List">
                                    <li class="Polaris-List__Item" v-for="(error,i) in errors" :key="i"> {{ error }}</li>
                                </ul>
                            </div>
                              <!-- <div id="myFieldIDError" class="Polaris-InlineError" v-for="(error,i) in errors" :key="i">
                                                        <div class="Polaris-InlineError__Icon">
                                                            <span class="Polaris-Icon">
                                                            <span class="Polaris-VisuallyHidden">
                                                            </span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                              <path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zM9 9a1 1 0 0 0 2 0V7a1 1 0 1 0-2 0v2zm0 4a1 1 0 1 0 2 0 1 1 0 0 0-2 0z">
                                                              </path>
                                                            </svg>
                                                            </span>
                                                        </div>
                                                        {{ error }}
                                                    </div>                    -->
                             </div>
                             </div>
                             </div>

                           <!-- END :: Errors -->

                        <!-- </div>
                    </div> -->

                    <div class="row">
                    <div class="col-md-8">
                           <!-- Offer Section  -->
                            <div class="Polaris-Card">
                                <div class="Polaris-Card__Header">
                                <h2 class="Polaris-Heading">Offer</h2>
                                </div>
                                <div class="Polaris-Card__Section">
                                  <div class="Polaris-FormLayout">
                                  <div class="Polaris-FormLayout__Item">
                                        <div class="">
                                            <div class="Polaris-Labelled__LabelWrapper">
                                                <div class="Polaris-Label">
                                                <label id="PolarisTextField16Label" for="PolarisTextField16" class="Polaris-Label__Text">Name</label>
                                                </div>
                                            </div>
                                            <div class="Polaris-Connected">
                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                    <div class="Polaris-TextField Polaris-TextField--hasValue" v-bind:class="{ 'Polaris-TextField--error': offer_name_error }">
                                                        <input v-model="form.offer_name" id="PolarisTextField16"  class="Polaris-TextField__Input" type="text" aria-describedby="PolarisTextField16HelpText" aria-labelledby="PolarisTextField16Label" aria-invalid="false">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                    </div>
                                                </div>
                                            </div>
                                              <div class="Polaris-Labelled__Error" v-if="offer_name_error">
                                                <div id="PolarisTextField4Error" class="Polaris-InlineError">
                                                    <div class="Polaris-InlineError__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                        <path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zm-1-9a1 1 0 0 0 2 0v-2a1 1 0 1 0-2 0v2zm0 4a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"></path>
                                                        </svg></span></div>{{offer_name_error_text}}
                                                </div>
                                             </div>
                                            <div class="Polaris-Labelled__HelpText" id="PolarisTextField16HelpText">
                                                For internal backend references only. Customer will not see this.
                                            </div>

                                       </div>
                                   </div>
                                    <div class="Polaris-FormLayout__Item">
                                        <div class="">
                                            <div class="Polaris-Labelled__LabelWrapper">
                                                <div class="Polaris-Label">
                                                <label id="PolarisTextField16Label" for="PolarisTextField16" class="Polaris-Label__Text">Title</label>
                                                </div>
                                            </div>
                                            <div class="Polaris-Connected">
                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                    <div class="Polaris-TextField Polaris-TextField--hasValue" v-bind:class="{ 'Polaris-TextField--error': offer_title_error }">
                                                        <input v-model="form.offer_title" id="PolarisTextField16"  class="Polaris-TextField__Input" type="text" aria-describedby="PolarisTextField16HelpText" aria-labelledby="PolarisTextField16Label" aria-invalid="false">
                                                    <div class="Polaris-TextField__Backdrop"></div>
                                                    </div>
                                                </div>
                                            </div>
                                               <div class="Polaris-Labelled__Error" v-if="offer_title_error">
                                                <div id="PolarisTextField4Error" class="Polaris-InlineError">
                                                    <div class="Polaris-InlineError__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                        <path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zm-1-9a1 1 0 0 0 2 0v-2a1 1 0 1 0-2 0v2zm0 4a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"></path>
                                                        </svg></span></div>Offer title can't be empty
                                                </div>
                                             </div>
                                            <div class="Polaris-Labelled__HelpText" id="PolarisTextField16HelpText">
                                               Title to appear above the widget.
                                            </div>
                                    </div>
                                 </div>
                               </div>
                             </div>
                         </div>
                          <!--END:: Offer Section -->

                          <!-- Target Section  -->
                            <div class="Polaris-Card">
                                <div class="Polaris-Card__Header">
                                <h2 class="Polaris-Heading">Target</h2>
                                </div>
                                <div class="Polaris-Card__Section">
                                  <div class="Polaris-FormLayout">
                                  <div class="Polaris-FormLayout__Item">
                                        <div class="">
                                            <div class="Polaris-Labelled__LabelWrapper">
                                                <div class="Polaris-Label">
                                                <label id="PolarisTextField16Label" for="PolarisTextField16" class="Polaris-Label__Text">DISPLAY ON</label>
                                                </div>
                                            </div>
                                            <div class="Polaris-Connected">
                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                   <div class="Polaris-TextField">
                                                                   <div class="Polaris-TextField__Prefix" id="PolarisTextField2Prefix">
                                                                    <span class="Polaris-Filters__SearchIcon"> <span class="Polaris-Icon"> <span class="Polaris-VisuallyHidden"></span>
                                                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                    <path
                                                                        d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm9.707 4.293-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414z">
                                                                    </path></svg></span></span>
                                                                    </div>
                                                                     <input id="PolarisTextField2" placeholder="Search for products"
                                                                       autocomplete="off"
                                                                       class="Polaris-TextField__Input Polaris-TextField__Input--hasClearButton"
                                                                       aria-labelledby="PolarisTextField2Label PolarisTextField2Prefix"
                                                                       aria-invalid="false"
                                                                       v-on:keyup="handleTargetProductInput()"
                                                                       >
                                                                <div class="Polaris-TextField__Backdrop"></div>
                                                   </div>
                                                </div>
                                                <div class="Polaris-Connected__Item">
                                                     <button class="Polaris-Button" type="button" @click="handleTargetProductInput()">
                                                        <span class="Polaris-Button__Content">
                                                        <span class="Polaris-Button__Text">Browse</span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="Polaris-Labelled__Error p-1" v-if="offer_target_products_error">
                                                        <div id="PolarisTextField4Error" class="Polaris-InlineError">
                                                            <div class="Polaris-InlineError__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                <path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zm-1-9a1 1 0 0 0 2 0v-2a1 1 0 1 0-2 0v2zm0 4a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"></path>
                                                                </svg></span></div>Specific products must be added as targets
                                                        </div>
                                            </div>
                                            <div class="Polaris-Labelled__HelpText" id="PolarisTextField16HelpText">
                                               Select the product that you want the offer/widget to display on.
                                            </div>
                                       </div>
                                   </div>
                                   </div>
                                 </div>
                                 <!-- START :: Selected Target Prodcut Preview -------------------------------------->
                                 <div class="Polaris-PageActions py-0">
                                        <div class="">
                                            <div p-color-scheme="light">
                                            <div class="">
                                                <div class="Polaris-ResourceList__ResourceListWrapper">
                                                <ul class="Polaris-ResourceList" aria-live="polite">
                                                    <li class="Polaris-ResourceItem__ListItem" v-for="(item,index) in SelectedTargetProductsPreviewData" :key="index">
                                                        <div class="Polaris-ResourceItem__ItemWrapper">
                                                            <div class="Polaris-ResourceItem Polaris-ResourceItem--persistActions" data-href="customers/341"><a aria-describedby="110" aria-label="View details for Mae Jemison" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay35" href="customers/341" data-polaris-unstyled="true"></a>
                                                            <div class="Polaris-ResourceItem__Container" id="110">
                                                                <div class="Polaris-ResourceItem__Owned">
                                                                <div class="Polaris-ResourceItem__Media">
                                                                    <span aria-label="Mae Jemison" role="img" class="">
                                                                        <span class="">
                                                                            <img :src="item.image" width="40px" height="40px" alt="">
                                                                        </span>
                                                                        </span>
                                                                        </div>
                                                                </div>
                                                                <div class="Polaris-ResourceItem__Content">
                                                                <h3><span class="Polaris-TextStyle--variationStrong">{{item.title}}</span></h3>
                                                                <!-- <div>Decatur, USA</div> -->
                                                                </div>
                                                                <div class="Polaris-ResourceItem__Actions py-2">
                                                                <div class="Polaris-ButtonGroup">
                                                                    <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain">

                                                                      <button @click="removeItemfromSelectedTargetProducts(item)" class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly"
                                                                                aria-label="Cancel" type="button"><span
                                                                            class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span
                                                                            class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg
                                                                            viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                                                                            aria-hidden="true"><path
                                                                            d="m11.414 10 4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"></path></svg></span></span></span>
                                                                </button>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                                <div class="Polaris-ResourceItem__Disclosure py-2">
                                                                <div>

                                                                <button @click="removeItemfromSelectedTargetProducts(item)" class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly"
                                                                        aria-label="Cancel" type="button"><span
                                                                    class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span
                                                                    class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg
                                                                    viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                                                                    aria-hidden="true"><path
                                                                    d="m11.414 10 4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"></path></svg></span></span></span>
                                                                </button>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                </div>
                                            </div>
                                            <div id="PolarisPortalsContainer">
                                                <div data-portal-id="popover-Polarisportal11"></div>
                                                <div data-portal-id="popover-Polarisportal12"></div>
                                            </div>
                                            </div>
                                        </div>
                                  </div>
                                <!-- END :: Selected Target Prodcut Preview -------------------------------------->

                                    </div>
                          <!--END:: Target Section -->


                           <!-- Upsell Products Section  -->
                            <div class="Polaris-Card">
                                <div class="Polaris-Card__Header">
                                <h2 class="Polaris-Heading">Products</h2>
                                </div>
                                <div class="Polaris-Card__Section">
                                  <div class="Polaris-FormLayout">
                                  <div class="Polaris-FormLayout__Item">
                                        <div class="">
                                            <div class="Polaris-Labelled__LabelWrapper">
                                                <div class="Polaris-Label">
                                                <label id="PolarisTextField16Label" for="PolarisTextField16" class="Polaris-Label__Text"></label>
                                                </div>
                                            </div>
                                            <div class="Polaris-Connected">
                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                            <div class="Polaris-TextField">
                                                                   <div class="Polaris-TextField__Prefix" id="PolarisTextField2Prefix">
                                                                    <span class="Polaris-Filters__SearchIcon"> <span class="Polaris-Icon"> <span class="Polaris-VisuallyHidden"></span>
                                                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                    <path
                                                                        d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm9.707 4.293-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414z">
                                                                    </path></svg></span></span>
                                                                    </div>
                                                                     <input id="PolarisTextField2" placeholder="Search for products"
                                                                       autocomplete="off"
                                                                       class="Polaris-TextField__Input Polaris-TextField__Input--hasClearButton"
                                                                       aria-labelledby="PolarisTextField2Label PolarisTextField2Prefix"
                                                                       aria-invalid="false"
                                                                       v-on:keyup="handleUpsellProductInput()"
                                                                       >
                                                                <div class="Polaris-TextField__Backdrop"></div>
                                                            </div>
                                                </div>
                                                <div class="Polaris-Connected__Item">
                                                     <button class="Polaris-Button" type="button" @click="handleUpsellProductInput()">
                                                        <span class="Polaris-Button__Content">
                                                        <span class="Polaris-Button__Text">Browse</span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>

                                             <div class="Polaris-Labelled__Error p-1" v-if="offer_upsell_products_error">
                                                    <div id="PolarisTextField4Error" class="Polaris-InlineError">
                                                        <div class="Polaris-InlineError__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                            <path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zm-1-9a1 1 0 0 0 2 0v-2a1 1 0 1 0-2 0v2zm0 4a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"></path>
                                                            </svg></span></div>Specific products to displays must be added
                                                    </div>
                                                   </div>
                                            <div class="Polaris-Labelled__HelpText" id="PolarisTextField16HelpText">
                                               Select the products to be displayed on the widget so customers can 1 click add to cart.
                                            </div>
                                       </div>
                                   </div>
                                 </div>
                                </div>
                                 <!-- START :: Selected upsell varaints Prodcut Preview -------------------------------------->
                                 <div class="Polaris-PageActions py-0">
                                        <div class="">
                                            <div p-color-scheme="light">
                                            <div class="">
                                                <div class="Polaris-ResourceList__ResourceListWrapper">
                                                <ul class="Polaris-ResourceList" aria-live="polite">
                                                    <li class="Polaris-ResourceItem__ListItem" v-for="(item,index) in SelectedUpsellProductsPreviewData" :key="index">
                                                        <div class="Polaris-ResourceItem__ItemWrapper">
                                                            <div class="Polaris-ResourceItem Polaris-ResourceItem--persistActions" data-href="customers/341"><a aria-describedby="110" aria-label="View details for Mae Jemison" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay35" href="customers/341" data-polaris-unstyled="true"></a>
                                                            <div class="Polaris-ResourceItem__Container" id="110">
                                                                <div class="Polaris-ResourceItem__Owned">
                                                                <div class="Polaris-ResourceItem__Media">
                                                                    <span aria-label="Mae Jemison" role="img" class="">
                                                                        <span class="">
                                                                            <img :src="item.image" width="40px" height="40px" alt="">
                                                                        </span>
                                                                        </span>
                                                                        </div>
                                                                </div>
                                                                <div class="Polaris-ResourceItem__Content">
                                                                <h3><span class="Polaris-TextStyle--variationStrong">{{item.title}}</span></h3>
                                                                <!-- <div>Decatur, USA</div> -->
                                                                </div>
                                                                <div class="Polaris-ResourceItem__Actions py-2">
                                                                <div class="Polaris-ButtonGroup">
                                                                    <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain">

                                                                      <button @click="removeItemfromSelectedUpsellProducts(item)" class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly"
                                                                                aria-label="Cancel" type="button"><span
                                                                            class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span
                                                                            class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg
                                                                            viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                                                                            aria-hidden="true"><path
                                                                            d="m11.414 10 4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"></path></svg></span></span></span>
                                                                </button>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                                <div class="Polaris-ResourceItem__Disclosure py-2">
                                                                <div>

                                                                <button @click="removeItemfromSelectedUpsellProducts(item)" class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly"
                                                                        aria-label="Cancel" type="button"><span
                                                                    class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span
                                                                    class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg
                                                                    viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                                                                    aria-hidden="true"><path
                                                                    d="m11.414 10 4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"></path></svg></span></span></span>
                                                                </button>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>

                                                  <!-- selected varaints preview -->
                                                <div class="Polaris-ResourceList__ResourceListWrapper" v-if="item.variants.length > 0">
                                                <ul class="Polaris-ResourceList" aria-live="polite" id="add_offer_variant_view">
                                                    <li class="Polaris-ResourceItem__ListItem" v-for="(variant_item,v_index) in item.variants" :key="v_index">
                                                        <div class="Polaris-ResourceItem__ItemWrapper">
                                                            <div class="Polaris-ResourceItem Polaris-ResourceItem--persistActions" data-href="customers/341"><a aria-describedby="110" aria-label="View details for Mae Jemison" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay35" href="customers/341" data-polaris-unstyled="true"></a>
                                                            <div class="Polaris-ResourceItem__Container" id="110">
                                                                <div class="Polaris-ResourceItem__Owned">
                                                                <div class="Polaris-ResourceItem__Media">
                                                                    <span aria-label="Mae Jemison" role="img" class="">
                                                                        <span class="">
                                                                            <img :src="(variant_item.image) ? variant_item.image.originalSrc : item.image" width="40px" height="40px" alt="">
                                                                        </span>
                                                                        </span>
                                                                        </div>
                                                                </div>
                                                                <div class="Polaris-ResourceItem__Content">
                                                                <h3><span class="Polaris-TextStyle--variationStrong">{{variant_item.title}}</span></h3>
                                                                <!-- <div>Decatur, USA</div> -->
                                                                </div>
                                                                <div class="Polaris-ResourceItem__Actions py-2">
                                                                <div class="Polaris-ButtonGroup">
                                                                    <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain">

                                                                      <button @click="removeItemfromSelectedUpsellProductsVariant(item,variant_item)" class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly"
                                                                                aria-label="Cancel" type="button"><span
                                                                            class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span
                                                                            class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg
                                                                            viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                                                                            aria-hidden="true"><path
                                                                            d="m11.414 10 4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"></path></svg></span></span></span>
                                                                </button>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                                <div class="Polaris-ResourceItem__Disclosure py-2">
                                                                <div>

                                                                <button @click="removeItemfromSelectedUpsellProductsVariant(item,variant_item)" class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly"
                                                                        aria-label="Cancel" type="button"><span
                                                                    class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span
                                                                    class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg
                                                                    viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                                                                    aria-hidden="true"><path
                                                                    d="m11.414 10 4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"></path></svg></span></span></span>
                                                                </button>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                </div>
                                             <!--END :: selected varaints preview -->


                                                    </li>
                                                </ul>
                                                </div>
                                            </div>
                                            <div id="PolarisPortalsContainer">
                                                <div data-portal-id="popover-Polarisportal11"></div>
                                                <div data-portal-id="popover-Polarisportal12"></div>
                                            </div>
                                            </div>
                                        </div>
                                  </div>
                                <!-- END :: Selected upsell varaints Prodcut Preview -------------------------------------->
                         </div>
                          <!--END:: Upsell Products Section -->

                    </div>
                    <div class="col-md-4">
                            <div class="Polaris-Card">
                                <div class="Polaris-Card__Header">
                                    <h2 class="Polaris-Heading">Offer Status</h2>
                                </div>
                                <div class="Polaris-Card__Section">
                                    <div class="Polaris-FormLayout">
                                        <div class="Polaris-FormLayout__Item">
                                                <div class="">
                                                    <div class="Polaris-Connected">
                                                        <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                                <div class="Polaris-Select">
                                                                <select v-model="form.offer_status"  id="PolarisSelect12" class="Polaris-Select__Input" aria-invalid="false"   @change="handleOfferStatus($event)">
                                                                <option value="Active">Active</option>
                                                                <option value="Draft">Draft</option>
                                                            </select>
                                                            <div class="Polaris-Select__Content" aria-hidden="true">
                                                                <span class="Polaris-Select__SelectedOption">{{form.offer_status}}</span>
                                                                    <span class="Polaris-Select__Icon">
                                                                    <span class="Polaris-Icon">
                                                                        <span class="Polaris-VisuallyHidden"></span>
                                                                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                            <path d="M7.676 9h4.648c.563 0 .879-.603.53-1.014l-2.323-2.746a.708.708 0 0 0-1.062 0l-2.324 2.746c-.347.411-.032 1.014.531 1.014zm4.648 2h-4.648c-.563 0-.878.603-.53 1.014l2.323 2.746c.27.32.792.32 1.062 0l2.323-2.746c.349-.411.033-1.014-.53-1.014z"></path>
                                                                        </svg>
                                                                    </span>
                                                                    </span>
                                                            </div>
                                                            <div class="Polaris-Select__Backdrop"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="Polaris-Labelled__HelpText" id="PolarisTextField16HelpText">
                                                        {{offer_status_help_text()}}
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
              </form>
            </div>

            <div id="PolarisPortalsContainer"></div>
            </div>

        <div v-show="is_content_load">
            <content-loading></content-loading>
        </div>
    </div>
</template>
<script>
import instance from "../../../axios";
import helper from "../../../helper";
import { ResourcePicker } from '@shopify/app-bridge/actions';
import ContentLoading from "../../partials/ContentLoading";
export default {
    name:"AddUpsell",
    props:[],
    components:{
        ContentLoading,ResourcePicker
    },
    data(){
        return{
          is_content_load : false,
          SelectedTargetProducts : [],
          SelectedUpsellProducts : [],
          form :{
              offer_name:null,
              offer_title:null,
              offer_status:"Draft"
          },
          offer_name_error_text:"Offer name can't be empty",
          offer_name_error:false,
          offer_title_error:false,
          offer_title_error:false,
          offer_target_products_error:false,
          offer_upsell_products_error:false,
          errors: [],
          preSelectedProducts : [],
          SelectedTargetProductsPreviewData:[],
          preSelectedProductsVariants:[],
          SelectedUpsellProductsPreviewData:[],
          defaultimage: '/images/defaultProduct.png'

        }
    },
    mounted(){

    },
    created(){

    },
    updated(){

    },
    methods:{
         offer_status_help_text(){
                let selectedStatus = this.form.offer_status;
                let offer_status_help_text;
                    if(selectedStatus=="Active"){
                        offer_status_help_text = 'Toggle on or off this offer on your store.';
                    }
                    if(selectedStatus=="Draft"){
                        offer_status_help_text = "This offer will be hidden from your store but still visible in the theme editor.";
                    }
                return offer_status_help_text;

         },
         handleTargetProductInput(){
            console.log("target input and btn clicked");
            this.openTargetProductPicker();
         },
         handleUpsellProductInput(){
             console.log("upsell input and btn clicked");
            this.openUpsellProductPicker();
         },
         handleOfferStatus(e){
               var selectedStatus = e.target.value;
               this.offer_status_help_text();
         },
         openTargetProductPicker(){

                      var productPicker;

                       var productSelected = [];
                          if(this.preSelectedProducts && this.preSelectedProducts.length){
                            productSelected = this.preSelectedProducts;
                          }

                          productPicker = ResourcePicker.create(window.shopify_app_bridge, {
                              resourceType: ResourcePicker.ResourceType.Product,
                              options: {
                                    showVariants: false,
                                    initialSelectionIds: productSelected,
                                }
                          });

                        productPicker.dispatch(ResourcePicker.Action.OPEN);

                        productPicker.subscribe(ResourcePicker.Action.CANCEL, () => {
                                // Picker was cancelled
                                console.log("product :: Picker was cancelled");
                        });

                        productPicker.subscribe(ResourcePicker.Action.SELECT, (selectPayload) => {
                                const selection = selectPayload.selection;
                                // Do something with `selection`
                                console.log("product :: Picker was selection",selection);
                                this.SelectedTargetProducts = selection;
                                this.SelectedTargetProductsPreviewData = [];
                                this.preSelectedProducts = [];
                                if(selection.length > 0){
                                     selection.forEach((item,index) => {
                                           this.preSelectedProducts.push({id:item.id});

                                           let image = (item.images.length >= 1) ? item.images[0].originalSrc : this.defaultimage;

                                           this.SelectedTargetProductsPreviewData.push({
                                                    id:item.id,
                                                    title:item.title,
                                                    handle:item.handle,
                                                    image:image
                                               });
                                      });
                                }

                        });

         },
         openUpsellProductPicker(){

                        var upsellProductPicker;

                          var productWithVariantsSelected = [];
                          if(this.preSelectedProductsVariants && this.preSelectedProductsVariants.length){
                            productWithVariantsSelected = this.preSelectedProductsVariants;
                          }

                          upsellProductPicker = ResourcePicker.create(window.shopify_app_bridge, {
                              resourceType: ResourcePicker.ResourceType.Product,
                              options: {
                                    showVariants: true,
                                    initialSelectionIds: productWithVariantsSelected,
                                }
                          });

                        upsellProductPicker.dispatch(ResourcePicker.Action.OPEN);

                        upsellProductPicker.subscribe(ResourcePicker.Action.CANCEL, () => {
                                // Picker was cancelled
                                console.log("product :: Picker was cancelled");
                        });

                        upsellProductPicker.subscribe(ResourcePicker.Action.SELECT, (selectPayload) => {
                                const selection = selectPayload.selection;
                                // Do something with `selection`
                                console.log("product :: Picker was selection",selection);
                                this.SelectedUpsellProducts = selection;
                                  this.preSelectedProductsVariants = [];
                                  this.SelectedUpsellProductsPreviewData = [];

                                    if(selection.length > 0){
                                        selection.forEach((item,index) => {

                                            let variants_data = [];

                                            if(item.variants.length > 0){
                                                 item.variants.forEach((variant,index) => {
                                                      variants_data.push({
                                                                    id:variant.id
                                                                });
                                                 });
                                            }

                                            this.preSelectedProductsVariants.push({
                                                id:item.id,
                                                variants:variants_data
                                            });

                                           let image = (item.images.length >=1) ? item.images[0].originalSrc : this.defaultimage;

                                            this.SelectedUpsellProductsPreviewData.push({
                                                        id:item.id,
                                                        title:item.title,
                                                        image:image,
                                                        variants:item.variants,
                                                        handle:item.handle,
                                                        options:item.options,
                                                });
                                        });
                                   }
                                   console.log("SelectedUpsellProductsPreviewData",this.SelectedUpsellProductsPreviewData);
                        });

         },
         removeItemfromSelectedTargetProducts(item){

          this.preSelectedProducts = this.preSelectedProducts.filter(function(e) { return e.id !== item.id });
          this.SelectedTargetProductsPreviewData = this.SelectedTargetProductsPreviewData.filter(function(e) { return e.id !== item.id });

         },
         removeItemfromSelectedUpsellProducts(item){
              this.preSelectedProductsVariants = this.preSelectedProductsVariants.filter(function(e) { return e.id !== item.id });
              this.SelectedUpsellProductsPreviewData = this.SelectedUpsellProductsPreviewData.filter(function(e) { return e.id !== item.id });
         },
         removeItemfromSelectedUpsellProductsVariant(item,variant_item){

             console.log("variants remove");
             console.log(this.preSelectedProductsVariants);

             console.log("remove v-item",variant_item);

            let preSelectedProductsVariantsData_filter = JSON.parse(JSON.stringify(this.preSelectedProductsVariants));

             preSelectedProductsVariantsData_filter.forEach((elementTop,indexTop) => {
                if(item.id == elementTop.id){
                            elementTop.variants.forEach((element,indexVariant) => {
                                  if ( element.id == variant_item.id) {
                                             elementTop.variants.splice(indexVariant, 1);
                                        }
                                  })
                }
             });
            console.log("preSelectedProductsVariantsData_filter",preSelectedProductsVariantsData_filter);

             this.preSelectedProductsVariants = preSelectedProductsVariantsData_filter;

             let SelectedUpsellProductsPreviewData_filter = JSON.parse(JSON.stringify(this.SelectedUpsellProductsPreviewData));

             SelectedUpsellProductsPreviewData_filter.forEach((elementTop,indexTop) => {
                if(item.id == elementTop.id){
                               elementTop.variants.forEach((element,indexVariant) => {
                                  if ( element.id == variant_item.id) {
                                             elementTop.variants.splice(indexVariant, 1);
                                        }
                                  })
                }
             });
             this.SelectedUpsellProductsPreviewData = SelectedUpsellProductsPreviewData_filter;

         },

         submitOfferForm(event){
             console.log("submit Offer.");
             console.log("SelectedTargetProducts",this.SelectedTargetProducts);
             console.log("SelectedUpsellProducts",this.SelectedUpsellProducts);

             console.log("SelectedTargetProductsPreviewData",this.SelectedTargetProductsPreviewData);
             console.log("SelectedUpsellProductsPreviewData",this.SelectedUpsellProductsPreviewData);

             console.log("Offer Form Data",this.form);

             this.errors = [];

             if (!this.form.offer_name) {
                this.errors.push("Offer name can't be empty");
                this.offer_name_error = true;
             }else{
                 this.offer_name_error = false;
             }
             if (!this.form.offer_title) {
                this.errors.push("Offer title can't be empty");
                this.offer_title_error = true;
             }
             else{
                 this.offer_title_error = false;
             }
             if(this.SelectedTargetProductsPreviewData.length <= 0){
                    this.errors.push('Specific products must be added as targets');
                    this.offer_target_products_error = true;
             }else{
                   this.offer_target_products_error = false;
             }
             if(this.SelectedUpsellProductsPreviewData.length <= 0){
                    this.errors.push('Specific products to displays must be added');
                    this.offer_upsell_products_error = true;
             }else{
                    this.offer_upsell_products_error = false;
             }

             if (!this.errors.length && this.errors.length<=0) {

                helper.startLoading();
                this.offer_name_error = false;
                this.offer_title_error = false;
                this.offer_target_products_error = false;
                this.offer_upsell_products_error = false;

                let endpoint = "/offer/add";
                let params = {
                    "form" : this.form,
                    "target_products" : this.SelectedTargetProductsPreviewData,
                    "upsell_products" : this.SelectedUpsellProductsPreviewData
                };

                let self = this;

                 instance.post(endpoint,params)
                   .then(function(res){
                            if(res.data.success){
                                        helper.successToast(res.data.message);
                                        event.target.reset();
                                        self.resetOfferForm();
                            }else{
                                 if(res.data.error_name && res.data.error_name == "offer_name"){
                                     self.offer_name_error_text = res.data.message;
                                     self.offer_name_error = true;
                                     self.errors.push(res.data.message);
                                     helper.stopLoading();
                                 }
                            }

                    }).catch(function(error){
                        console.log("error :: ",error);
                    })
                    .finally(res => {
                        helper.stopLoading();
                    });

                return true;
             }
         },
         resetOfferForm(){
            this.preSelectedProducts = [];
            this.SelectedTargetProductsPreviewData = [];
            this.preSelectedProductsVariants = []
            this.SelectedUpsellProductsPreviewData = [];
            this.SelectedTargetProducts = [];
            this.SelectedUpsellProducts = [];
            this.form = {
                offer_name:null,
                offer_title:null,
                offer_status:"Draft"
            };

             this.$router.push({name:'manage-upsell-products'});
         }
    }
}
</script>
