<template>
    <div>  
       
       <!-- START ::  More Filter Model-->

       <div v-if="total_offers >='1'"> 
        <div>
            <div v-if="showMoreFilterModel" id="PolarisPortalsContainer" class="res-more-filter">
                <div class="Polaris-Sheet__Container" data-polaris-layer="true" data-polaris-overlay="true">
                    <div>
                        <div role="dialog" aria-modal="true" tabindex="-1" class="Polaris-Sheet"
                             aria-label="More filters">
                            <div class="Polaris-Filters__FiltersContainer">
                                <div class="Polaris-Filters__FiltersContainerHeader"><h3
                                    class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">More filters</h3>
                                    <button @click="closeMoreFilterModel()" class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly"
                                            aria-label="Cancel" type="button"><span
                                        class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span
                                        class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg
                                        viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                                        aria-hidden="true"><path
                                        d="m11.414 10 4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"></path></svg></span></span></span>
                                    </button>
                                </div>
                                <div class="Polaris-Filters__FiltersDesktopContainerContent Polaris-Scrollable Polaris-Scrollable--vertical Polaris-Scrollable--hasBottomShadow Polaris-Scrollable--verticalHasScrolling"
                                    data-polaris-scrollable="true">

<!-- START :: filterByStatusCollapsible --------------------------------------------------------------------->

                                    <div class="Polaris-Filters__FilterTriggerContainer Polaris-Filters--first">
                                        <button @click="filterByStatusCollapsibleToggle()" class="Polaris-Filters__FilterTrigger"
                                                id="productTypeFilterToggleButton" type="button"
                                                aria-controls="productTypeFilterCollapsible" aria-expanded="false">
                                            <div class="Polaris-Filters__FilterTriggerLabelContainer"><h3
                                                class="Polaris-Filters__FilterTriggerTitle"><span
                                                class="">Brand</span></h3><span><span
                                                class="Polaris-Icon Polaris-Icon--colorBase Polaris-Icon--applyColor"><span
                                                class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20"
                                                                                           class="Polaris-Icon__Svg"
                                                                                           focusable="false"
                                                                                           aria-hidden="true"><path
                                                d="M10 14a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 1 1 1.414-1.414L10 11.586l4.293-4.293a.999.999 0 1 1 1.414 1.414l-5 5A.997.997 0 0 1 10 14z"></path></svg></span></span>
                                            </div>
                                        </button>

                                        <div  v-show="filterByStatusCollapsible" id="productTypeFilterCollapsible" class="" aria-expanded="true"
                                             style="max-height: none; overflow: visible;">
                                            <div class="Polaris-Filters__FilterNodeContainer">
                                                <div>
                                                    <div
                                                        class="Polaris-Stack Polaris-Stack--vertical Polaris-Stack--spacingTight">
                                                        <div class="Polaris-Stack__Item">
                                                            <div class="">
                                                                  <div class="Polaris-Select">
                                                            <select id="PolarisSelect28" class="Polaris-Select__Input"
                                                                    aria-invalid="false" v-model="filterByStatus"
                                                                    @change="handleFiltersByStatus($event)">
                                                                <option value="" disabled="disabled">Status</option>
                                                                <option value="">All</option>
                                                                <option value="Active">Active</option>
                                                                <option value="Draft">Draft</option>
                                                            </select>
                                                            <div class="Polaris-Select__Content" aria-hidden="true"><span
                                                                class="Polaris-Select__SelectedOption">  {{SelectedStatusOption}}</span><span
                                                                class="Polaris-Select__Icon"><span
                                                                class="Polaris-Icon"><span
                                                                class="Polaris-VisuallyHidden"></span><svg
                                                                viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                                focusable="false" aria-hidden="true">
                                                                  <path d="m5 8 5 5 5-5H5z"></path>
                                                                </svg></span></span>
                                                            </div>
                                                            <div class="Polaris-Select__Backdrop"></div>
                                                        </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-Stack__Item">
                                                            <button @click="filterByStatusClear()"
                                                                    v-bind:class="['Polaris-Button Polaris-Button--plain', { 'Polaris-Button--disabled' : filterByStatusClearStatus }]"
                                                                aria-label="Clear Product Type" type="button"
                                                                :disabled="filterByStatusClearStatus"><span class="Polaris-Button__Content"><span
                                                                class="Polaris-Button__Text">Clear</span></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
 <!-- END :: filterByStatusCollapsible --------------------------------------------------------------------->

 
 <!-- START :: filterBySortCollapsible --------------------------------------------------------------------->

                                    <div class="Polaris-Filters__FilterTriggerContainer Polaris-Filters--first">
                                        <button @click="filterBySortCollapsibleToggle()" class="Polaris-Filters__FilterTrigger"
                                                id="productTypeFilterToggleButton" type="button"
                                                aria-controls="productTypeFilterCollapsible" aria-expanded="false">
                                            <div class="Polaris-Filters__FilterTriggerLabelContainer"><h3
                                                class="Polaris-Filters__FilterTriggerTitle"><span
                                                class="">Sort</span></h3><span><span
                                                class="Polaris-Icon Polaris-Icon--colorBase Polaris-Icon--applyColor"><span
                                                class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20"
                                                                                           class="Polaris-Icon__Svg"
                                                                                           focusable="false"
                                                                                           aria-hidden="true"><path
                                                d="M10 14a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 1 1 1.414-1.414L10 11.586l4.293-4.293a.999.999 0 1 1 1.414 1.414l-5 5A.997.997 0 0 1 10 14z"></path></svg></span></span>
                                            </div>
                                        </button>

                                        <div  v-show="filterBySortCollapsible" id="productTypeFilterCollapsible" class="" aria-expanded="true"
                                              style="max-height: none; overflow: visible;">
                                            <div class="Polaris-Filters__FilterNodeContainer">
                                                <div>
                                                    <div
                                                        class="Polaris-Stack Polaris-Stack--vertical Polaris-Stack--spacingTight">
                                                        <div class="Polaris-Stack__Item">
                                                            <div class="">
                                                            <div class="Polaris-Select">
                                                            <select id="PolarisSelect14" class="Polaris-Select__Input" aria-invalid="false" v-model="filterBySort" @change="handleFiltersBySort($event)">
                                                                <option value="" disabled="disabled">Sort</option>
                                                                <option value="titleAlpha">Offer title A–Z</option>
                                                                <option value="titleReverseAlpha">Offer title Z–A</option>
                                                                <option value="oldestCreated">Created (oldest first)</option>
                                                                <option value="newestCreated">Created (newest first)</option>                                                            
                                                            </select>
                                                            <div class="Polaris-Select__Content" aria-hidden="true"><span class="Polaris-Select__InlineLabel">Sort</span><span class="Polaris-Select__SelectedOption">{{SelectedSortOption}}</span><span class="Polaris-Select__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span>
                                                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                        <path d="m10 16-4-4h8l-4 4zm0-12 4 4H6l4-4z"></path>
                                                            </svg>

                                                        </span></span></div>
                                                            <div class="Polaris-Select__Backdrop"></div>
                                                        </div>
                                                            </div>
                                                        </div>
                                                        <div class="Polaris-Stack__Item">
                                                            <button @click="filterBySortClear()"
                                                                    v-bind:class="['Polaris-Button Polaris-Button--plain', { 'Polaris-Button--disabled' : filterBySortClearStatus }]"
                                                                    aria-label="Clear Product Type" type="button"
                                                                    :disabled="filterBySortClearStatus"><span class="Polaris-Button__Content"><span
                                                                class="Polaris-Button__Text">Clear</span></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
 <!-- END :: filterBySortCollapsible --------------------------------------------------------------------->

                                </div>
                                <div class="Polaris-Filters__FiltersContainerFooter">
<!--                                    <button class="Polaris-Button Polaris-Button&#45;&#45;disabled" type="button" disabled="">-->
<!--                                        <span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Clear all filters</span></span>-->
<!--                                    </button>-->
                                    <button class="Polaris-Button" type="button" :disabled="ClearFilterStatus" @click="onClearAllFilters()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">
                                                   {{ClearFilterText}}
                                                </span>
                                                </span>
                                    </button>
                                    <div>
                                        <button @click="closeMoreFilterModel()" class="Polaris-Button Polaris-Button--primary" type="button"><span
                                            class="Polaris-Button__Content"><span
                                            class="Polaris-Button__Text">Done</span></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Backdrop"></div>
            </div>
        </div>

         <!-- END ::  More Filter Model--> 
         <!--//================================================================================================================
         //Filter 
         //================================================================================================================ -->
            <div style="">
                <div class="Polaris-ResourceList__ResourceListWrapper">
                   <div class="Polaris-ResourceList__FiltersWrapper">
                     <div class="Polaris-Filters">
                        <div class="Polaris-Filters-ConnectedFilterControl__Wrapper">
                           <div class="Polaris-Filters-ConnectedFilterControl Polaris-Filters-ConnectedFilterControl--right">
                             <div class="Polaris-Filters-ConnectedFilterControl__CenterContainer">
                                <div class="Polaris-Filters-ConnectedFilterControl__Item">
                                  <div class="Polaris-Labelled--hidden">
                                      <div class="Polaris-Labelled__LabelWrapper">
                                         <div class="Polaris-Label">
                                           <label id="PolarisTextField2Label" for="PolarisTextField2" class="Polaris-Label__Text">
                                               Filter offers
                                            </label>
                                          </div>
                                        </div>
                                         <div class="Polaris-Connected">
                                          <div  class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                            <div class="Polaris-TextField">
                                        <div class="Polaris-TextField__Prefix" id="PolarisTextField2Prefix">
                                     <span class="Polaris-Filters__SearchIcon"> <span class="Polaris-Icon"> <span class="Polaris-VisuallyHidden"></span>
                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                    <path
                                        d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm9.707 4.293-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414z">
                                    </path></svg></span></span>
                                      </div>
                                                                <input id="PolarisTextField2" placeholder="Filter offers"
                                                                       autocomplete="off"
                                                                       class="Polaris-TextField__Input Polaris-TextField__Input--hasClearButton"
                                                                       aria-labelledby="PolarisTextField2Label PolarisTextField2Prefix"
                                                                       aria-invalid="false"
                                                                       v-on:keyup.enter="handleFiltersBySearch($event)"
                                                                       v-model="filterBySearch">
                                                                <div class="Polaris-TextField__Backdrop"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Polaris-Filters-ConnectedFilterControl__RightContainer res-less-filter">
                                            <div class="Polaris-Filters-ConnectedFilterControl__Item res-less-filter">
                                                <div>
                                                    <div class="">
                                                        <div class="Polaris-Select">
                                                            <select id="PolarisSelect28" class="Polaris-Select__Input"
                                                                    aria-invalid="false" v-model="filterByStatus"
                                                                    @change="handleFiltersByStatus($event)">
                                                                <option value="" disabled="disabled">Status</option>
                                                                <option value="">All</option>
                                                                <option value="Active">Active</option>
                                                                <option value="Draft">Draft</option>
                                                            </select>
                                                            <div class="Polaris-Select__Content" aria-hidden="true"><span
                                                                class="Polaris-Select__SelectedOption">  {{SelectedStatusOption}}</span><span
                                                                class="Polaris-Select__Icon"><span
                                                                class="Polaris-Icon"><span
                                                                class="Polaris-VisuallyHidden"></span><svg
                                                                viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                                focusable="false" aria-hidden="true">
                                                                  <path d="m5 8 5 5 5-5H5z"></path>
                                                                </svg></span></span>
                                                            </div>
                                                            <div class="Polaris-Select__Backdrop"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Polaris-Filters-ConnectedFilterControl__MoreFiltersButtonContainer res-less-filter">
                                            <div class="Polaris-Filters-ConnectedFilterControl__Item">
                                                <div>
                                                    <div class="Polaris-Labelled--hidden">
                                                        <div class="Polaris-Labelled__LabelWrapper">
                                                            <div class="Polaris-Label"><label id="PolarisSelect14Label" for="PolarisSelect14" class="Polaris-Label__Text">Sort</label></div>
                                                        </div>
                                                        <div class="Polaris-Select">
                                                            <select id="PolarisSelect14" class="Polaris-Select__Input" aria-invalid="false" v-model="filterBySort" @change="handleFiltersBySort($event)">
                                                                <option value="" disabled="disabled">Sort</option>
                                                                <option value="titleAlpha">Offer title A–Z</option>
                                                                <option value="titleReverseAlpha">Offer title Z–A</option>
                                                                <option value="oldestCreated">Created (oldest first)</option>
                                                                <option value="newestCreated">Created (newest first)</option>                                                            
                                                            </select>
                                                            <div class="Polaris-Select__Content" aria-hidden="true"><span class="Polaris-Select__InlineLabel">Sort</span><span class="Polaris-Select__SelectedOption">{{SelectedSortOption}}</span><span class="Polaris-Select__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span>
                                                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                        <path d="m10 16-4-4h8l-4 4zm0-12 4 4H6l4-4z"></path>
                                                            </svg>

                                                        </span></span></div>
                                                            <div class="Polaris-Select__Backdrop"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Polaris-Filters-ConnectedFilterControl__Item res-less-filter">
                                            <div>
                                                <button class="Polaris-Button Polaris-Button--fullWidth" v-bind:class="{'Polaris-Button--disabled' : ClearFilterStatus }" type="button" :disabled="ClearFilterStatus" @click="onClearAllFilters()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">
                                                   {{ClearFilterText}}
                                                </span>
                                                </span>
                                                </button>
                                            </div>
                                        </div>  
                                         <div class="Polaris-Filters-ConnectedFilterControl__Item res-more-filter">
                                            <div>
                                                <button @click="openMoreFilterModel()" class="Polaris-Button" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">More filters</span></span></button>
                                            </div>
                                        </div>                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
         <!--//================================================================================================================
         //@end :: Filter 
         //================================================================================================================ -->
          </div>  

      <div class="" v-if="!is_content_load"> 

          <div class="" v-if="offers && offers.length > 0">
           <div class="Polaris-DataTable__Navigation">                
                        <button class="Polaris-Button Polaris-Button--disabled Polaris-Button--plain Polaris-Button--iconOnly" aria-label="Scroll table left one column" type="button" disabled=""><span class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                <path d="M12 16a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 0 1 0-1.414l5-5a.999.999 0 1 1 1.414 1.414l-4.293 4.293 4.293 4.293a.999.999 0 0 1-.707 1.707z"></path>
                                </svg></span></span></span></button><button class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly" aria-label="Scroll table right one column" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                <path d="M8 16a.999.999 0 0 1-.707-1.707l4.293-4.293-4.293-4.293a.999.999 0 1 1 1.414-1.414l5 5a.999.999 0 0 1 0 1.414l-5 5a.997.997 0 0 1-.707.293z"></path>
                                </svg></span></span></span>
                        </button>
           </div>
          <div class="Polaris-DataTable">              
          <div class="Polaris-ResourceList__HeaderOuterWrapper">  
          <!--//================================================================================================================
         //Action 
         //================================================================================================================ -->
             
         <div class="Polaris-ResourceList__HeaderWrapper Polaris-ResourceList__HeaderWrapper--hasSelect" v-bind:class="{'Polaris-ResourceList__HeaderWrapper--inSelectMode' : selectedOffersItem.length > 0}">
           <div class="Polaris-ResourceList__HeaderContentWrapper">
            <!-- <div class="Polaris-ResourceList__HeaderTitleWrapper">Showing {{offers.length}} offer</div> -->
             <div class="">
              <div class="Polaris-CheckableButton Polaris-CheckableButton__CheckableButton--plain action_before_section">
               <div class=""> 
                <label class="Polaris-Choice Polaris-Choice--labelHidden" for="PolarisCheckbox1">
                   <span class="Polaris-Choice__Control"><span class="Polaris-Checkbox">
                    <input type="checkbox" id="PolarisCheckbox1"  class="Polaris-Checkbox__Input" @change="checkAllItems()"  :checked="isCheckAllItems" />
                        <span class="Polaris-Checkbox__Backdrop"></span>
                        <span class="Polaris-Checkbox__Icon">
                         <span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span>
                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                <path d="m8.315 13.859-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                </svg>
                        </span>
                        </span>
                    </span></span>
                    <span class="Polaris-Choice__Label">Select offer</span>
                </label>
                </div>
                 <span class="Polaris-CheckableButton__Label">Showing {{offers.length}} offers</span>
               </div>
            </div>
            <div class="Polaris-ResourceList__SelectButtonWrapper">
                <!-- <label class="Polaris-Choice Polaris-Choice--labelHidden" for="PolarisCheckbox1">
                   <span class="Polaris-Choice__Control"><span class="Polaris-Checkbox">
                    <input type="checkbox" id="PolarisCheckbox1"  class="Polaris-Checkbox__Input" @change="checkAllItems()"  :checked="isCheckAllItems" />
                        <span class="Polaris-Checkbox__Backdrop"></span>
                        <span class="Polaris-Checkbox__Icon">
                         <span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span>
                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                <path d="m8.315 13.859-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                </svg>
                        </span>
                        </span>
                    </span></span>
                    <span class="Polaris-Choice__Label">Select offer</span>
                </label> -->
                                 </div>
                                        </div>
                                        <div class="Polaris-ResourceList__BulkActionsWrapper">
                                            <div>
                                            <div class="Polaris-BulkActions__Group"  :class="[selectedOffersItem.length > 0 ? 'Polaris-BulkActions__Group--entered ' : 'Polaris-BulkActions__Group--exited']">
                                                <div class="Polaris-BulkActions__ButtonGroupWrapper">
                                                    <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented" data-buttongroup-segmented="true">
                                                        <div class="Polaris-ButtonGroup__Item">
                                                    <div class="Polaris-CheckableButton Polaris-CheckableButton__CheckableButton--selectMode Polaris-CheckableButton__CheckableButton--selected py-1">
                                                <div class="">                                            
                                                        <label class="Polaris-Choice Polaris-Choice--labelHidden" for="PolarisCheckbox3">
                                                            <span class="Polaris-Choice__Control">
                                                            <span class="Polaris-Checkbox">                                                  
                                                            <input type="checkbox" id="PolarisCheckbox3" class="Polaris-Checkbox__Input" @change="checkAllItems()"  :checked="isCheckAllItems"  />
                                                                <span class="Polaris-Checkbox__Backdrop"></span>
                                                                <span class="Polaris-Checkbox__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span>
                                                                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                <path d="m8.315 13.859-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                                                </svg></span>
                                                                </span>
                                                            </span>
                                                            </span>
                                                        <span class="Polaris-Choice__Label">Select offer</span>
                                                        </label>
                                                        </div>
                                                    <span class="Polaris-CheckableButton__Label">{{selectedOffersItem.length}} selected</span>
                                                        </div>
                                                        </div>
                                                        
                                                        <div class="Polaris-ButtonGroup__Item">
                                                        <div><div>
                                                            <div class="Polaris-BulkActions__BulkActionButton">
                                                            <button @click="actionCollapsibleToggle()" class="Polaris-Button" type="button" tabindex="0" aria-controls="Polarispopover6" aria-owns="Polarispopover6" aria-expanded="false">
                                                            <span class="Polaris-Button__Content">
                                                            <span class="Polaris-Button__Text">Actions</span>
                                                        <span class="Polaris-Button__Icon">
                                                        <div class="">
                                                        <span class="Polaris-Icon">
                                                            <span class="Polaris-VisuallyHidden"></span>
                                                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                            <path d="M13.098 8h-6.196c-.751 0-1.172.754-.708 1.268l3.098 3.432c.36.399 1.055.399 1.416 0l3.098-3.433c.464-.513.043-1.267-.708-1.267z">
                                                            </path>
                                                            </svg>
                                                            </span>
                                                            </div>
                                                            </span>
                                                            </span>
                                                            </button>
                                                            </div>
                                                            <div v-show="actionCollapsible" class="Polaris-PositionedOverlay Polaris-Popover__PopoverOverlay Polaris-Popover__PopoverOverlay--open" style="top: 31.7969px; left: -35.25px; width: 173px;">
                                                            <div   class="Polaris-Popover" data-polaris-overlay="true">
                                                            <div class="Polaris-Popover__Wrapper actionCollapsible">
                                                                <div id="Polarispopover22" tabindex="-1" class="Polaris-Popover__Content" style="height: 170px;">
                                                                <div class="Polaris-Popover__Pane Polaris-Scrollable Polaris-Scrollable--vertical" data-polaris-scrollable="true">
                                                                    <div class="Polaris-ActionList">
                                                                    <div class="Polaris-ActionList__Section--withoutTitle">
                                                                        <ul class="Polaris-ActionList__Actions" role="menu" tabindex="-1">
                                                                        <li role="presentation">
                                                                            <button type="button" class="Polaris-ActionList__Item" role="menuitem" @click="changeStatusOffers('Active')">
                                                                                <span class="Polaris-ActionList__Content">
                                                                                    <span class="Polaris-ActionList__Text">Set as published</span>
                                                                                </span>
                                                                             </button>                                                                    
                                                                        </li>
                                                                        <li role="presentation">
                                                                            <button type="button" class="Polaris-ActionList__Item" role="menuitem" @click="changeStatusOffers('Draft')">
                                                                                <span class="Polaris-ActionList__Content">
                                                                                <span class="Polaris-ActionList__Text">Set as draft</span>
                                                                                </span>
                                                                                </button>
                                                                         </li>
                                                                         <li role="presentation">
                                                                            <button type="button" class="Polaris-ActionList__Item" role="menuitem" @click="deleteOffers()">
                                                                                <span class="Polaris-ActionList__Content">
                                                                                <span class="Polaris-ActionList__Text">Delete offers</span>
                                                                                </span>
                                                                            </button>
                                                                         </li> 
                                                                        </ul>
                                                                     </div>
                                                                    </div>
                                                                </div>
                                                              </div>
                                                             </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>

                                                     <div class="Polaris-ButtonGroup__Item">
                                                        <div><div>
                                                            <div class="Polaris-BulkActions__BulkActionButton">
                                                            <button @click="clearSelection()" class="Polaris-Button" type="button" tabindex="0" aria-controls="Polarispopover6" aria-owns="Polarispopover6" aria-expanded="false">
                                                            <span class="Polaris-Button__Content">
                                                            <span class="Polaris-Button__Text">Clear</span>                                              
                                                            </span>
                                                            </button>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                     </div>
                                                </div>
                                            </div>                                    
                                         </div>
            
         <!--//================================================================================================================
         //@end :: Action 
         //================================================================================================================ -->
                         </div>
                         </div>
                        <div class="Polaris-DataTable__ScrollContainer">
                        <table class="Polaris-DataTable__Table">
                            <thead>
                            <tr>                
                                <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--header" scope="col">
                                <div>                              
                                        <!-- <input type="checkbox"  class="mark_as_missing_checkbox" @change="checkAllItems()"  :checked="isCheckAllItems"  id="PCheckboxAll" /> -->
                                    </div>
                                </th> 
                                <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header" scope="col">
                                    <!-- <label for="PCheckboxAll">Offers</label> -->
                                    Offers
                                </th>                    
                                <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header" scope="col">
                                    Status
                                </th>
                                <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header" scope="col">
                                    Created on
                                </th>
                                <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header" scope="col">
                                    Total Revenue from app offers
                                </th> 
                               <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--header" scope="col">
                                    
                                </th>               
                            </tr>                 
                            </thead>
                            <tbody>
                                <tr v-for="(offer, index) in offers" :key="index"  :id="offer.id"  class="Polaris-DataTable__TableRow Polaris-DataTable--hoverable">
                                <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop">
                                        <label class="Polaris-Choice Polaris-Choice--labelHidden" :for="'PolarisCheckbox_'+offer.id">
                                                            <span class="Polaris-Choice__Control"><span class="Polaris-Checkbox">
                                                                <!-- <input id="PolarisCheckbox3" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value=""> -->
                                                                <input type="checkbox"
                                                                :id="'PolarisCheckbox_'+offer.id" 
                                                                class="Polaris-Checkbox__Input"
                                                                @change="updateCheckItem()" 
                                                                :checked="is_marked  || isCheckAllItems" 
                                                                :value="offer.id"
                                                                v-model="selectedOffersItem">                                                                
                                                                <span class="Polaris-Checkbox__Backdrop"></span><span class="Polaris-Checkbox__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                                <path d="m8.315 13.859-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                                                </svg></span></span></span></span><span class="Polaris-Choice__Label"></span>
                                        </label>
                                </td>
                                    <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn" scope="row">
                                        {{offer.name}}
                                    </th>                        
                                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop">
                                        <span class="Polaris-Badge" v-if="offer.status=='Draft'">{{offer.status}}</span>
                                        <span class="Polaris-Badge Polaris-Badge--statusSuccess" v-if="offer.status=='Active'">
                                            <span class="Polaris-VisuallyHidden">
                                                Success
                                            </span>
                                            {{offer.status}}
                                        </span>
                                         </td>
                                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop">
                                        {{offer.created_at}}
                                    </td>
                                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop">
                                        {{currency_symbol}} {{offer.price_count ? offer.price_count : 0}}
                                    </td>
                                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop">
                                       
                                    <button class="Polaris-Button Polaris-Button--primary" type="button" v-on:click="goToEditUpsellPage(offer.id)">
                                    <span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Edit</span></span>
                                    </button>            
                                           
                                    </td>
                                </tr>                  
                            </tbody>
                        </table>
                        <div class="Polaris-DataTable__Footer">
                           <custom-paginate  data_key="offer" :prev_page="prev_page" :next_page="next_page"></custom-paginate>
                        </div>
                        </div>          
          </div>
          <div v-else>
            <div v-if="total_offers >='1'">            
                <record-not-found not_found_message="Could not find any offers"></record-not-found>
            </div>
            <div v-else>           
                <not-found-upsell-records></not-found-upsell-records>
            </div>
          </div>

      </div>
     <div v-show="is_content_load">
        <content-loading></content-loading>
     </div>
        
   </div>

</template>
<script>
import instance from "../../../axios";
import helper from "../../../helper";
import ContentLoading from "../../partials/ContentLoading";
import CustomPaginate from "../../partials/CustomPaginate";
import NotFoundUpsellRecords from "./NotFoundUpsellRecords";
import RecordNotFound from "../../partials/RecordNotFound";
import {Button, Modal, Toast} from "@shopify/app-bridge/actions";
export default {
    name:"ListUpsell",
    // props:["offers"],
    components:{
        ContentLoading,
        CustomPaginate,
        NotFoundUpsellRecords,
        RecordNotFound
    },
    data(){
        return{  
            page : 1,
            offers:[],     
            prev_page : '',
            next_page : '', 
            isCheckAllItems: false,         
            is_marked:1,
            offerItems:[],
            selectedOffersItem:[],
            actionCollapsible:false,
            filterBySearch: '',
            ClearFilterText : "No filters applied",
            ClearFilterStatus : true,
            filterByStatus : '',
            SelectedStatusOption :"Status",            
            filterBySort : 'newestCreated',
            SelectedSortOption : "Created (newest first)",
            is_content_load : false,
            total_offers : 0,
             //More filter variables
            showMoreFilterModel:false,
            filterByStatusCollapsible:false,
            filterByStatusClearStatus:true,
            filterBySortCollapsible:false,
            filterBySortClearStatus:true,
            currency_symbol:''
            //@END :: More filter variables
        }
    },
    mounted(){
         this.fetchOffersAll();   
         document.addEventListener('click', this.closeOutSideClick); 
    },  
    created(){
           let base = this;
            base.$root.$on('get-offer-data', function(page){
              console.log("call parent function");
                base.page = page;              
                base.fetchOffersAll();
            });  
    },
    updated(){
              
    },
    beforeDestroy () {
        console.log("MENU::beforeDestroy");
        document.removeEventListener('click',this.closeOutSideClick);
    },
    methods:{
         fetchOffersAll(){

                this.is_content_load = true;
                
                helper.startLoading();

                this.selectedOffersItem = [];
                this.isCheckAllItems = false;                
                this.is_marked = 0; 
                this.actionCollapsible = false;

                this.selectedOffersItem.forEach((value, index) => {                   
                            this.selectedOffersItem.splice(index, 1)
                    });

                this.offerItems = [];   
                this.selectedOffersItem = [];  
                if( this.selectedOffersItem.length > 0){
                this.selectedOffersItem.splice(0, this.selectedOffersItem.length);
                }
                if( this.offerItems.length > 0){
                this.offerItems.splice(0, this.offerItems.length);
                }
                
                console.log("selectedOffersItem::empty",this.selectedOffersItem);
                console.log("offerItems::empty",this.offerItems);
               
                let filterBySearch = "";
                if(this.filterBySearch.length >=3) {
                    filterBySearch = this.filterBySearch;
                }

                let filterData = {                   
                    "search": filterBySearch,
                    "filterBySort" : this.filterBySort,
                    "filterByStatus" : this.filterByStatus
                };

                let params = {
                    "filterData" : filterData,
                };  
                
                console.log("params",params);

                let endPoint = (typeof(this.page) == 'undefined' || this.page == 1) ? '/offer/get' : this.page;

                let self = this;

                  instance.post(endPoint,params).then(function(res){
                      console.log("RES",res);
                      console.log("offers :: RES",res.data.data);
                      if(res.data.success){
                            self.offers = res.data.data.offers.data;  
                            self.total_offers = res.data.total_offers;
                            self.currency_symbol = res.data.currency_symbol;

                              if(self.offers.length > 0){
                                 
                                self.offers.forEach((value, index) => {
                                     if (!self.offerItems.includes(value.id)) {
                                          if (!self.offerItems.includes(value.id)) {
                                                self.offerItems.push(value.id);
                                          }
                                       }
                                    });
                                }

                              if (self.isCheckAllItems == true) {
                                    self.offerItems.forEach((value, index) => {
                                        if (!self.selectedOffersItem.includes(value)) {
                                         self.selectedOffersItem.push(value);
                                      }
                                    });
                                 } 
                            
                             if(res.data.data.pagination) {
                                let pagination = res.data.data.pagination;
                                self.next_page = (pagination.nextPageUrl) ? pagination.nextPageUrl : '';
                                self.prev_page = (pagination.previousPageUrl) ? pagination.previousPageUrl : '';
                            }
                      }  

                  }).catch(function(error){
                      console.log("error :: ",error);
                  }).finally(res => {
                        helper.stopLoading();
                        self.is_content_load = false;
                  });

              },
           updateCheckItem(){             
                if(this.selectedOffersItem.length == this.offerItems.length){
                    this.isCheckAllItems = true;
                }else{
                    this.isCheckAllItems = false;
                }
            },
            checkAllItems(){

                this.isCheckAllItems = !this.isCheckAllItems;
              
                this.selectedOffersItem = [];

                console.log("offerItems:: ",this.offerItems);

                if(this.isCheckAllItems==true) {
                    this.offerItems.forEach((value, index) => {
                            this.selectedOffersItem.push(value);
                    });
                }
            },           
            openMoreFilterModel:function(){
                this.showMoreFilterModel = true;
            },
            closeMoreFilterModel:function(){
                this.showMoreFilterModel = false;
            },
            filterByStatusCollapsibleToggle:function(){
                this.filterByStatusCollapsible = !this.filterByStatusCollapsible;
            },         
            filterBySortCollapsibleToggle:function(){
                this.filterBySortCollapsible = !this.filterBySortCollapsible;
            },

            filterByStatusClear:function(){
                this.filterByStatusClearStatus = true;
                this.filterByStatus = '';
                this.SelectedStatusOption = "Status",
                this.fetchOffersAll();
            },

            filterBySortClear:function(){
                this.filterBySortClearStatus = true;            
                this.SelectedSortOption = "Created (newest first)";
                this.filterBySort = 'newestCreated';
                this.fetchOffersAll();
            },

           handleFiltersBySearch: function() {
                this.ClearFilterText = "Clear all filters";
                this.ClearFilterStatus = false;
                this.fetchOffersAll();
            },
              handleFiltersByStatus: function(e) {
                console.log("filterByStatusClearStatus",this.filterByStatusClearStatus);
                this.ClearFilterText = "Clear all filters";
                this.ClearFilterStatus = false;
                this.filterByStatusClearStatus = false;

                if(e.target.options.selectedIndex > -1) {

                    var id = e.target.value;
                    var name = e.target.options[e.target.options.selectedIndex].text;
                    //console.log('id ',id );
                   // console.log('name ',name );

                    this.SelectedStatusOption = name;
                }
                this.fetchOffersAll();
            },
           handleFiltersBySort: function(e) {
                this.ClearFilterText = "Clear all filters";
                this.ClearFilterStatus = false;
                this.filterBySortClearStatus = false;
                if(e.target.options.selectedIndex > -1) {
                    var id = e.target.value;
                    var name = e.target.options[e.target.options.selectedIndex].text;
                    //console.log('id ',id );
                    //console.log('name ',name );
                    this.SelectedSortOption = name;
                }
                this.fetchOffersAll();
            },
              onClearAllFilters: function() {
                this.filterBySearch = '';              
                this.ClearFilterText = "No filters applied"; 
                this.ClearFilterStatus = true;
                this.filterBySortClearStatus = true;
                this.filterByStatus = '';
                this.SelectedStatusOption = "Status",
                this.SelectedSortOption = "Created (newest first)";
                this.filterBySort = 'newestCreated';
                this.page = 1;
                this.fetchOffersAll();
            },
            actionCollapsibleToggle(){
                  this.actionCollapsible = !this.actionCollapsible;
            },            
            closeOutSideClick (e) {
                if (!this.$el.contains(e.target)) {
                    this.actionCollapsible = false
                }
            },
            deleteOffers(){
                  console.log("selected offers",this.selectedOffersItem);
                    if(this.selectedOffersItem.length > 0) {


   //START::confirmModel
                const okButton = Button.create(window.shopify_app_bridge, {label: 'Delete'});
                const cancelButton = Button.create(window.shopify_app_bridge, {label: 'Cancel'});
                const modalOptions = {
                    title:  'Remove '+ this.selectedOffersItem.length +' offer?',
                    message: 'This can’t be undone.',
                    footer: {
                        buttons: {
                            primary: okButton,
                            secondary: [cancelButton],
                        },
                    },
                };

                const myModal = Modal.create(window.shopify_app_bridge, modalOptions);
                myModal.dispatch(Modal.Action.OPEN);

                cancelButton.subscribe(Button.Action.CLICK, data => {
                    myModal.dispatch(Modal.Action.CLOSE);
                     this.clearSelection();
                });

                okButton.subscribe(Button.Action.CLICK, data => {

                   // console.log("PACK will update soon..");

                    helper.startLoading();
                    myModal.dispatch(Modal.Action.CLOSE);

                             let params = {
                                'offer_ids': JSON.stringify(this.selectedOffersItem)
                              };
                              let base = this;

                               let endPoint =  '/offer/delete';

                                 instance.post(endPoint, params).then((res) => {  
                                    if (res.data.success) {
                                        //console.log("MarkAsMissing-data",res.data.data);
                                        helper.successToast(res.data.message);
                                        base.clearSelection();  
                                        base.fetchOffersAll();                     
                                    }
                                    // Unknown server error (catch all)
                                    else {
                                        helper.errorToast("Could not delete offer due to server error. Please try again or contact support for help");
                                        //  console.log('Could not update line-items mark-as-missing due to server error. Please try again or contact support for help.');
                                        return false;
                                    }
                                }).catch(function(error){
                                       console.log("error :: ",error);
                                }).finally(res => {
                                        helper.stopLoading();
                                });
               
                });
                //END::confirmModel
                      
                     }else{
                          helper.errorToast("Please select some offer");
                     }
           }, 
           changeStatusOffers(status){
                  console.log("selected offers",this.selectedOffersItem);
                   console.log("status",status);
                    if(this.selectedOffersItem.length > 0) {
                          helper.startLoading();

                             let params = {
                                'offer_ids': JSON.stringify(this.selectedOffersItem),
                                'status' : status
                              };
                              let base = this;
                               let endPoint =  '/offer/change-status';
                                 instance.post(endPoint, params).then((res) => {  
                                    if (res.data.success) {
                                        //console.log("MarkAsMissing-data",res.data.data);
                                        helper.successToast(res.data.message);
                                        base.clearSelection();                                       
                                        base.fetchOffersAll();                     
                                    }
                                    // Unknown server error (catch all)
                                    else {
                                        helper.errorToast("Could not change offer status due to server error. Please try again or contact support for help");
                                        //  console.log('Could not update line-items mark-as-missing due to server error. Please try again or contact support for help.');
                                        return false;
                                    }
                                }).catch(function(error){
                                       console.log("error :: ",error);
                                }).finally(res => {
                                        helper.stopLoading();
                                });
                    }else{
                        helper.errorToast("Please select some offer");
                  }
           },       
           clearSelection(){
                this.selectedOffersItem = [];
                this.isCheckAllItems = false;                
                this.is_marked = 0;      
                this.actionCollapsibleToggle();         
           },
           goToEditUpsellPage(id){
                 this.$router.push({name:'editupsellpage',params: { id }});
           }
    }
}
</script>