<template>    
     <div>         
        <div p-color-scheme="light">
            <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                    <div class="Polaris-EmptyState Polaris-EmptyState--withinContentContainer">
                        <div class="Polaris-EmptyState__Section">
                            <div class="Polaris-EmptyState__DetailsContainer">
                                <div class="Polaris-EmptyState__Details">
                                <div class="Polaris-TextContainer">
                                    <p class="Polaris-DisplayText Polaris-DisplayText--sizeSmall">You don’t have any offers yet</p>
                                    <div class="Polaris-EmptyState__Content">
                                    <p>Once you have offers they will display on this page.</p>
                                    </div>
                                </div>
                                <div class="Polaris-EmptyState__Actions">
                                    <div class="Polaris-Stack Polaris-Stack--spacingTight Polaris-Stack--distributionCenter Polaris-Stack--alignmentCenter">
                                    <div class="Polaris-Stack__Item">
                                        <button class="Polaris-Button Polaris-Button--primary" type="button" v-on:click="goToAddUpsellPage()"><span class="Polaris-Button__Content">
                                            <span class="Polaris-Button__Text">Add Upsell</span></span>
                                        </button>
                                    </div>
                                    <!-- <div class="Polaris-Stack__Item"><a class="Polaris-Button" href="https://help.shopify.com" data-polaris-unstyled="true"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Learn more</span></span></a></div> -->
                                    </div>
                                </div>
                                <div class="Polaris-EmptyState__FooterContent">
                                    <div class="Polaris-TextContainer">
                                    <!-- <p><a class="Polaris-Link" href="/#" data-polaris-unstyled="true">Watch this video on how to add an offer.  <vue-fontawesome icon="external-link"  color="#2C6ECB
        "></vue-fontawesome></a>.</p> -->
                                    </div>
                                </div>
                                </div>
                            </div>
                        <div class="Polaris-EmptyState__ImageContainer"><img src="images/notFoundUpsell.png" role="presentation" alt="" class="Polaris-EmptyState__Image"></div>
                        </div>
                    </div>
                </div>
            </div>
           <div id="PolarisPortalsContainer"></div>
        </div>
     </div>
</template>
<script>
export default {
    name:"NotFoundUpsellRecords",
    props:[],
    data(){
        return{

        }
    },
    mounted(){

    },
    methods:{
       goToAddUpsellPage(){
           this.$router.push({name:'addupsellpage'});
       }
    },
    created(){

    },
    updated(){

    }
}
</script>