<template>
    <div>        
              
    <div p-color-scheme="light">
      <div class="Polaris-Page py-3">
        <div class="Polaris-Page-Header Polaris-Page-Header--isSingleRow Polaris-Page-Header--mobileView Polaris-Page-Header--noBreadcrumbs Polaris-Page-Header--mediumTitle">
          <div class="Polaris-Page-Header__Row">
            <div class="Polaris-Page-Header__TitleWrapper">
              <h1 class="Polaris-Header-Title">Upsell</h1>
            </div>
            <div class="Polaris-Page-Header__RightAlign">
              <div class="Polaris-Page-Header__PrimaryActionWrapper">
                <button class="Polaris-Button Polaris-Button--primary" type="button" v-on:click="goToAddUpsellPage()">
                  <span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Add Upsell</span></span>
                </button>            
              </div>
            </div>
          </div>
        </div>
        <div class="Polaris-Card">
                <list-upsell></list-upsell>        
        </div>
      </div>
      <div id="PolarisPortalsContainer"></div>
    </div>       

  </div>
</template>
<script>
import instance from "../../axios";
import helper from "../../helper";
import { ResourcePicker } from '@shopify/app-bridge/actions';
import RecordNotFound from "../partials/RecordNotFound";
import ContentLoading from "../partials/ContentLoading";

import ListUpsell from "./upsell/ListUpsell";

export default {
    name:"ManageUpsellProducts",
    props:[],
    components:{
      ResourcePicker,RecordNotFound,ContentLoading,ListUpsell
    },
    data(){
        return{
           
        }
    },
    mounted(){
      // this.fetchProducts();
       
    },
    created(){
                     
    },
    updated(){

    },
    methods : {           
               goToAddUpsellPage(){
                 this.$router.push({name:'addupsellpage'});
              }
          },//End methods
}
</script>