<template>
    <div>         
           
<div p-color-scheme="light">
  <div class="Polaris-Page">
    <div class="Polaris-Page-Header Polaris-Page-Header--isSingleRow Polaris-Page-Header--mobileView Polaris-Page-Header--noBreadcrumbs Polaris-Page-Header--mediumTitle">
      <div class="Polaris-Page-Header__Row">
        <div class="Polaris-Page-Header__TitleWrapper">
          <h1 class="Polaris-Header-Title">Upsell</h1>
        </div>
         <div class="Polaris-Page-Header__RightAlign">
          <div class="Polaris-Page-Header__PrimaryActionWrapper">
            <button class="Polaris-Button Polaris-Button--primary" type="button" v-on:click="goToAddUpsellPage()">
               <span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Add Upsell</span></span>
            </button>            
           </div>
        </div>
      </div>
    </div>
    <div class="" v-if="!is_content_load"> 

      <div class="Polaris-Card" v-if="products.length > 0">
        <div class="">
          <div class="Polaris-DataTable__Navigation"><button class="Polaris-Button Polaris-Button--disabled Polaris-Button--plain Polaris-Button--iconOnly" aria-label="Scroll table left one column" type="button" disabled=""><span class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                      <path d="M12 16a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 0 1 0-1.414l5-5a.999.999 0 1 1 1.414 1.414L8.414 10l4.293 4.293A.999.999 0 0 1 12 16z"></path>
                    </svg></span></span></span></button><button class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly" aria-label="Scroll table right one column" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                      <path d="M8 16a.999.999 0 0 1-.707-1.707L11.586 10 7.293 5.707a.999.999 0 1 1 1.414-1.414l5 5a.999.999 0 0 1 0 1.414l-5 5A.997.997 0 0 1 8 16z"></path>
                    </svg></span></span></span></button></div>
          <div class="Polaris-DataTable">
            <div class="Polaris-DataTable__ScrollContainer">
              <table class="Polaris-DataTable__Table">
                <thead>
                    <tr v-if="products.length > 0">
                    <th  data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--header" scope="col" aria-sort="none">
                        <h4><span class="Polaris-TextStyle--variationStrong">Product Info</span></h4>
                    </th>
                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--header" scope="col" aria-sort="none">
                        <h4><span class="Polaris-TextStyle--variationStrong">Status</span></h4>
                    </th>
                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--header" scope="col" aria-sort="none">
                        <h4><span class="Polaris-TextStyle--variationStrong">Type</span></h4>
                    </th>
                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--header" scope="col" aria-sort="none">
                        <h4><span class="Polaris-TextStyle--variationStrong">Vendor</span></h4>
                    </th>                   
                </tr>                                
                </thead>
                <tbody>
                  <tr v-for="(product, index) in products" :key="index"  :id="product.id"  class="Polaris-DataTable__TableRow Polaris-DataTable--hoverable" @click="openProductPicker(product)">
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--firstColumn" scope="row">
                       <div class="d-flex align-center">
                            <div class="Polaris-ResourceItem__ItemWrapper">
                                <div class="Polaris-ResourceItem" data-href="produdcts/341"><a aria-describedby="341" aria-label="View details for Black &amp; orange scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay17" href="produdcts/341" data-polaris-unstyled="true"></a>
                                    <div class="Polaris-ResourceItem__Container" id="341">
                                        <div class="Polaris-ResourceItem__Owned">
                                            <div class="Polaris-ResourceItem__Media">
                                                <span class="Polaris-Thumbnail Polaris-Thumbnail--sizeMedium">
                                                    <div v-if="product.image">
                                                        <img  :src="(product.image!==null ? product.image : default_product_image)"
                                                            :alt="product.name"
                                                            @error="imageLoadError"
                                                            class="img-fluid">
                                                    </div>
                                                 </span>
                                            </div>
                                        </div>
                                        <div class="Polaris-ResourceItem__Content">
                                            <div class="d-flex align-center">                                              
                                                 <span class="Polaris-Button__Text">{{product.title}}</span>                                                
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">{{product.status}}</td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">{{product.productType}}</td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">{{product.vendor}}</td>                   
                  </tr>              
                </tbody>                 
              </table>
            </div>
            <div class="Polaris-DataTable__Footer">
            <div p-color-scheme="light" v-if="products.length > 0">
                  <div class="d-flex mt-10 justify-content-center">
              <nav aria-label="Pagination">
                  <div class="Polaris-ButtonGroup Polaris-ButtonGroup--segmented" data-buttongroup-segmented="true">
                  <div class="Polaris-ButtonGroup__Item">
                      <button :disabled="!prev_page" id="previousURL" v-bind:class="{ 'Polaris-Button--disabled': !prev_page }" v-on:click="onPreviousPage(prev_cursor)" class="Polaris-Button Polaris-Button--outline Polaris-Button--iconOnly" aria-label="Previous" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                              <path d="M12 16a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 0 1 0-1.414l5-5a.999.999 0 1 1 1.414 1.414L8.414 10l4.293 4.293A.999.999 0 0 1 12 16z"></path>
                              </svg></span></span></span>
                              </button></div>
                  <div class="Polaris-ButtonGroup__Item">
                      <button :disabled="!next_page" v-bind:class="{ 'Polaris-Button--disabled': !next_page }"  id="nextURL" v-on:click="onNextPage(next_cursor)" class="Polaris-Button Polaris-Button--outline Polaris-Button--iconOnly" aria-label="Next" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                              <path d="M8 16a.999.999 0 0 1-.707-1.707L11.586 10 7.293 5.707a.999.999 0 1 1 1.414-1.414l5 5a.999.999 0 0 1 0 1.414l-5 5A.997.997 0 0 1 8 16z"></path>
                              </svg></span></span></span>
                              </button></div>
                  </div>
                </nav>
                </div>
                <div id="PolarisPortalsContainer"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div v-else>
            <not-found-upsell-records></not-found-upsell-records>
                <!-- <record-not-found not_found_message="Could not find any Product"></record-not-found> -->
         </div>
    </div>
    <div v-show="is_content_load">
        <content-loading></content-loading>
     </div>
  </div>
  <div id="PolarisPortalsContainer"></div>
</div>       

  </div>
</template>
<script>
import instance from "../../axios";
import helper from "../../helper";
import { ResourcePicker } from '@shopify/app-bridge/actions';
import RecordNotFound from "../partials/RecordNotFound";
import ContentLoading from "../partials/ContentLoading";
import NotFoundUpsellRecords from "./upsell/NotFoundUpsellRecords";
import ListUpsell from "./upsell/ListUpsell";
export default {
    name:"ManageUpsellProducts",
    props:[],
    components:{
      ResourcePicker,RecordNotFound,ContentLoading,NotFoundUpsellRecords,ListUpsell
    },
    data(){
        return{
            products : [],
            default_product_image:"/images/defaultProduct.png",
            prev_page : '',
            next_page : '',
            next_cursor : '',
            prev_cursor : '',
            cursor : '',
            productsSelection : [],
            is_content_load : false
        }
    },
    mounted(){

       this.fetchProducts();

    },
    created(){

    },
    updated(){

    },
    methods : {
              fetchProducts(options={}){
                  this.is_content_load = true;
                  let self = this;
                  helper.startLoading();

                  let pageFilter = {};
                  
                  console.log("options",options);
                        
                  if(options.pageFilter){
                      pageFilter = options.pageFilter;
                  }

                    let params = {
                          "pageFilter" : pageFilter
                      };

                      console.log("params",params);

                  instance.post("/shopify/products",params).then(function(res){
                      console.log("getShopifyProducts :: RES",res);
                      console.log("products :: RES",res.data.products);
                      if(res.data.success){
                            self.products = res.data.products;
                            let pageInfo = res.data.pageInfo;
                            self.prev_page = pageInfo.hasPreviousPage;
                            self.next_page = pageInfo.hasNextPage;
                            self.prev_cursor = pageInfo.startCursor;
                            self.next_cursor = pageInfo.endCursor;
                            
                      }
                      self.is_content_load = false;

                      helper.stopLoading(); 
                  }).catch(function(error){
                      console.log("error :: ",error);
                  });
              },
              imageLoadError (event) {
                      event.target.src = this.default_product_image;              
              },
              onPreviousPage(prev_cursor){           
                  
                    let pageFilter = {
                        "hasNextPage" : false,
                        "hasPreviousPage" : true,
                        "cursor" : prev_cursor
                  }

                  this.fetchProducts({'pageFilter':pageFilter})
              },
              onNextPage(next_cursor){
                
                    let pageFilter = {
                        "hasNextPage" : true,
                        "hasPreviousPage" : false,
                        "cursor" : next_cursor
                    }

                  this.fetchProducts({'pageFilter':pageFilter})
              },  
              getUpSellsProducts(product)  {

                      let selectionData = [];
                      let self = this;
                      let shopify_id = product.id;
                      let endpoint = "/upsell/products/"+shopify_id;
                      instance.get(endpoint).then(function(res){
                      console.log("getUpSellsProducts :: RES",res);
                      if(res.data.success){
                        console.log("selected:products",res.data.products);
                          selectionData  = res.data.products;
                      }
                      self.setProductPicker(product,selectionData);
                    
                  }).catch(function(error){
                      console.log("error :: ",error);
                  }); 
              },
              attachUpSellsProducts(product,selection)  {
                    let endpoint = "upsell/products/attach";
                    helper.startLoading();
                    let params = {
                          "parent_product" : product,
                          "upsell_products_selection" : selection
                      };

                      instance.post(endpoint,params).then(function(res){
                      console.log("attachUpSellsProducts :: RES",res);
                      if(res.data.success){
                          helper.successToast(res.data.message);
                      }
                      helper.stopLoading();
                  }).catch(function(error){
                      console.log("error :: ",error);
                  }); 

              },
              openProductPicker(product){

                  console.log("product",product);

                  this.getUpSellsProducts(product);            
                
                    // const productWithVariantsSelected = {
                    //    id: "gid://shopify/Product/7000466849978",
                    //     variants: [
                    //       {
                    //         id: "gid://shopify/ProductVariant/41026859696314",
                    //       },
                    //       {
                    //         id: "gid://shopify/ProductVariant/41026859729082",
                    //       },
                    //       {
                    //         id: "gid://shopify/ProductVariant/41026859761850"
                    //       },
                    //       ],
                    //  }
                      
              },     
              setProductPicker(product,preSelected){
                        console.log("setProductPicker",preSelected);
                          var productPicker;
                          var productWithVariantsSelected = [];
                          if(preSelected && preSelected.length){
                            productWithVariantsSelected = preSelected;
                          }

                          productPicker = ResourcePicker.create(window.shopify_app_bridge, {
                              resourceType: ResourcePicker.ResourceType.Product,
                              options: {
                                    initialSelectionIds: productWithVariantsSelected,
                                },
                          });

                        productPicker.dispatch(ResourcePicker.Action.OPEN); 
                      
                        productPicker.subscribe(ResourcePicker.Action.CANCEL, () => {
                                // Picker was cancelled
                                console.log("product :: Picker was cancelled");
                        });

                        productPicker.subscribe(ResourcePicker.Action.SELECT, (selectPayload) => {
                                const selection = selectPayload.selection;
                                // Do something with `selection`
                                console.log("product :: Picker was selection",selection);
                                this.attachUpSellsProducts(product,selection);
                        }); 

              },
              goToAddUpsellPage(){
                 this.$router.push({name:'addupsellpage'});
              }
          },//End methods
}
</script>