<template>
    <div>

     <div p-color-scheme="light" class="p-40">
      <div class="Polaris-Page"> 
            <div class=row>
              <div class="Polaris-Layout settings-layout">          
                <div class="col-md-12"> 
                  <div class="Polaris-Layout__Section Polaris-Layout__Section--oneThird">
                   <div class="Polaris-Card">
                      <div class="Polaris-Card__Header">
                        <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                          <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                            <h2 class="Polaris-Heading">Uninstallation Wizard</h2>
                            <p>Remove the snippets and files in your theme using one of the process option we provide.</p>
                          </div>
                         </div>
                      </div>
                      <div class="Polaris-Card__Section">
                       <!-- <p>Remove the snippets and files in your theme using one of the process option we provide.</p> -->

                               <form v-on:submit.prevent="submitUnInstallThemeForm">
                                                                
                                    <div class="">
                                      <div class="Polaris-Labelled__LabelWrapper">
                                        <div class="Polaris-Label"><label id="PolarisTextField20Label" for="PolarisTextField20" class="Polaris-Label__Text">Select theme</label></div>
                                      </div>
                                      <div class="Polaris-Connected">
                                          <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                          <div class="Polaris-Select">
                                                  <select
                                        id="cartButtonFontWeight"
                                        class="Polaris-Select__Input"
                                        v-model="themeSelected"
                                      >
                                         <option disabled="disabled" value="0">Choose theme</option>
                                        <option v-for="(theme_item,key) in shopThemes" :key="key" :value="theme_item.id">{{theme_item.name}}</option>
                                        </select>
                                        <div class="Polaris-Select__Content" aria-hidden="true"><span class="Polaris-Select__SelectedOption">{{selectedThemeLabel(themeSelected)}}</span><span class="Polaris-Select__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                    <path d="M7.676 9h4.648c.563 0 .879-.603.53-1.014L10.531 5.24a.708.708 0 0 0-1.062 0L7.145 7.986C6.798 8.397 7.113 9 7.676 9zm4.648 2H7.676c-.563 0-.878.603-.53 1.014l2.323 2.746c.27.32.792.32 1.062 0l2.323-2.746c.349-.411.033-1.014-.53-1.014z"></path>
                                  </svg></span></span></div>
                                              <div class="Polaris-Select__Backdrop"></div>
                                          </div>
                                        </div>
                                      </div>
                                       <div class="Polaris-Labelled__Error" v-if="themeSelected_error">
                                                <div id="PolarisTextField4Error" class="Polaris-InlineError">
                                                    <div class="Polaris-InlineError__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                        <path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zm-1-9a1 1 0 0 0 2 0v-2a1 1 0 1 0-2 0v2zm0 4a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"></path>
                                                        </svg></span></div>Please choose theme
                                                </div>
                                             </div>
                                    </div>
                                  

                                    <div class="Polaris-Stack__Item py-3">
                                      <button class="Polaris-Button Polaris-Button--primary" type="submit"><span class="Polaris-Button__Content">
                                        <span class="Polaris-Button__Text">Uninstall</span></span>
                                        </button>
                                        </div>
                              </form>


                      <div>                        
                    </div>
                 </div>
                </div>
              </div>
             </div> 
            </div>
         </div>
        </div>
      </div>
    
   </div>
</template>
<script>
import instance from "../../axios";
import helper from "../../helper";
export default {
    name:"SnippetsUninstall",
    data(){
        return{
            shopThemes:[],
            themeSelected:0, 
            themeSelected_error:false,  
        }
    },
     mounted(){ 
        this.getShopThemes();       
    },
     methods:{ 
          getShopThemes(){
                console.log("shope-themes");
                let base = this;
                let endPoint =  '/shop/themes';

                instance.get(endPoint).then((res) => {  
                    console.log("Themes data",res);
                    if (res.data.success) {
                        base.shopThemes = res.data.themes;                                      
                    }             
                }).catch(function(error){
                        console.log("error :: ",error);
                }).finally(res => {
                    
                });
         },
         selectedThemeLabel(selected){   
           console.log("selectedThemeLabel***",selected);
                let selected_opt = "Choose theme";
                this.shopThemes.forEach(element => {
                //console.log('inner',element.value);
                    if(element.id == selected){
                        selected_opt = element.name;
                    }
                });
                return selected_opt;
         },
         submitUnInstallThemeForm(){     
           
                  if(this.themeSelected==0){
                      this.themeSelected_error = true;    
                  }else{   
                    
                    this.themeSelected_error = false;  
     
                    let endpoint = "/shop/themes/uninstall";

                    let params = {
                          "theme_id" : this.themeSelected,                          
                      };

                    console.log("themeSelected",this.themeSelected);

                      helper.startLoading();

                     let self = this;
                
                      instance.post(endpoint,params).then(function(res){
                        console.log("install :: res",res);
                          if(res.data.success){
                                  helper.successToast(res.data.message);                                                 
                          }else{
                               helper.errorToast(res.data.message);  
                          }
                                            
                          helper.stopLoading();                                          
                          
                      }).catch(function(error){
                          console.log("error :: ",error);
                      });                     
                  }         
            } 
     }
}
</script>