.Polaris-Page {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#record_not_found svg {
    margin: 0 auto;
    margin-bottom: 5px;
}

.vc-chrome {
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 9;
}

.current-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #000;
    cursor: pointer;
    margin-top: 2px;
    border-radius: 4px;
    border: 1px solid #e1e3e5!important;
}

.color-picker .Polaris-TextField__Spinner {
    margin: 5px !important;
    background: inherit;
    border: inherit;
    box-sizing: inherit;
    border-radius: inherit;
    width: 2.2rem!important;
}

.Polaris-TextField__Spinner {
    margin: 0px !important;
    background: #EEEEEE;
    border: 1px solid #A7ACB1;
    box-sizing: border-box;
    border-radius: 0px 4px 4px 0px;
    width: 3.2rem!important;
}

.input-px-postfix {}

#switch_items_toggle_notification input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

#switch_items_toggle_notification label {
    cursor: pointer;
    text-indent: -9999px;
    width: 46px;
    height: 26px;
    background: #C4C4C4;
    display: block;
    border-radius: 100px;
    position: relative;
    margin-top: -25px;
}

#switch_items_toggle_notification label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

#switch_items_toggle_notification input:checked+label {
    background: #000000;
}

#switch_items_toggle_notification input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    transition: 0.3s;
}

#switch_items_toggle_notification label:active:after {
    width: 20px;
}

#switch_items_toggle_app_status input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

#switch_items_toggle_app_status label {
    cursor: pointer;
    text-indent: -9999px;
    width: 46px;
    height: 26px;
    background: #C4C4C4;
    display: block;
    border-radius: 100px;
    position: relative;
    margin-top: -25px;
}

#switch_items_toggle_app_status label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

#switch_items_toggle_app_status input:checked+label {
    background: #000000;
}

#switch_items_toggle_app_status input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    transition: 0.3s;
}

#switch_items_toggle_app_status label:active:after {
    width: 20px;
}

//Slider
#switch_items_toggle_slider input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

#switch_items_toggle_slider label {
    cursor: pointer;
    text-indent: -9999px;
    width: 46px;
    height: 26px;
    background: #C4C4C4;
    display: block;
    border-radius: 100px;
    position: relative;
    margin-top: -25px;
}

#switch_items_toggle_slider label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

#switch_items_toggle_slider input:checked+label {
    background: #000000;
}

#switch_items_toggle_slider input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    transition: 0.3s;
}

#switch_items_toggle_slider label:active:after {
    width: 20px;
}

//@end :: Slider
//Slider Badge
#switch_items_toggle_slider_badge input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

#switch_items_toggle_slider_badge label {
    cursor: pointer;
    text-indent: -9999px;
    width: 46px;
    height: 26px;
    background: #C4C4C4;
    display: block;
    border-radius: 100px;
    position: relative;
    margin-top: -25px;
}

#switch_items_toggle_slider_badge label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

#switch_items_toggle_slider_badge input:checked+label {
    background: #000000;
}

#switch_items_toggle_slider_badge input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    transition: 0.3s;
}

#switch_items_toggle_slider_badge label:active:after {
    width: 20px;
}

//@end :: Slider Badge
.settings-Card__Header {
    background: #F6F6F8;
    padding: 20px !important;
}

.p-40 {
    padding: 40px;
}

a,
.Polaris-Link {
    color: #2E72D2;
    text-decoration: none !important;
}

.back-page-btn {
    padding: 10px!important;
}

.Polaris-Page-Header {
    padding-bottom: 1.6rem!important;
}

#TopMenuBar {
    justify-content: space-between;
}

#AppStatusToggleBox .label {
    font-size: 14px;
    color: #000000;
    margin: 0;
    padding: 0;
}

#AppStatusToggleBox .app_switch_items_toggle label {
    margin-top: -22px;
}

ul#TopMenuRight li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}

#add_offer_variant_view {
    padding-left: 60px;
}

.total_analytics_card {
    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.total_analytics_card_title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #8C9196;
}

.total_analytics_card_number {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #202223;
}

.total_analytics_card_icon {
    position: absolute;
    right: 8.56%;
    top: 15px;
    bottom: 5%;
    opacity: 0.3;
}

.installation_steps_text p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0px;
}

// .total_analytics_card_icon img {
//     width: 30px;
//     max-width: 30px;
// }
.Polaris-Connected {}

.Polaris-CheckableButton.Polaris-CheckableButton__CheckableButton--plain.action_before_section {
    padding-left: 0px!important;
}

.total_analytics_card_number>sup {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #202223;
}

//@start:: Analytics Page :: css==================================================
#analytics_page_right_section .total_analytics_card_icon {
    position: relative;
    right: auto;
    top: -8px;
}

.Polaris-Thumbnail.cart-product-inage>* {
    display: flex;
    align-items: center;
}

h1#date_range_value {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.vue-daterange-picker .reportrange-text {
    background: #FFFFFF !important;
    box-shadow: 0px 1px 0px rgb(0 0 0 / 5%) !important;
    border-radius: 4px !important;
}

//@end :: Analytics Page :: css===================================================
.InstallationActionList span.Polaris-ActionList__Text {
    font-weight: 700;
}

.greeting-section h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 44px;
}

.greeting-section p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #6D7175;
    margin-top: 1px !important;
}

.TopProductInfo-Polaris-ResourceItem__Container {
    padding: 0 !important;
}