.slick-slider * {
    min-height: 0;
    min-width: 0;
}


/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: auto;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    &:focus {
        outline: none;
    }
    &.slick-disabled:before {
        opacity: 0.25;
    }
}

.slick-prev:before,
.slick-next:before {
    font-family: revert;
    font-size: 25px;
    line-height: 1;
    font-weight: 400;
    color: #111111;
    opacity: 0.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
    &:before {
        content: '\2329';
    }
}

.slick-next {
    right: -25px;
    &:before {
        content: '\232A';
    }
}

.product-form__buttons {
    margin-top: 50px;
}

.slick-dots {
    top: 100%;
}

.slick-dots li.slick-active button,
.slick-prev:not(.slick-disabled):hover,
.slick-next:not(.slick-disabled):hover {
    background: unset;
}

.slick-dots li button {
    box-shadow: none;
}

// custom slick dots
// .slick-dots li button:before {
//     color: #4937ff;
// }
// .slick-dots li.slick-active button:before {
//     color: #4937ff;
// }
.slick-dots li button:before {
    font-size: 12px;
}

.upsell_wrapper {
    max-width: 100%;
    margin: 15px auto;
    // background-color: #027d88;
    // padding: 15px;
}

.slick-slide {}

.slick-slide a {
    color: white;
    font-size: 16px;
    /*font-family:myriad-pro, sans-serif;*/
    font-family: "PT Sans", sans-serif;
}

.slick-slide p {
    line-height: 24px;
}

.slick-slide p:last-of-type {
    margin-bottom: 0;
}

.slick-slide p:first-of-type {
    font-weight: bold;
}

.slick-next:before {
    position: relative;
    top: 0px;
    // content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1552126/right-carousel-arrow.png");
}

.slick-prev:before {
    position: relative;
    top: 0px;
    // content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1552126/left-carousel-arrow.png");
}

.upsell-slide-container {
    position: relative;
    flex: 0 0 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-top: 0;
    border-radius: 8px;
    margin-right: 24px;
    width: 100%;
    height: 100%;
}

.upsell-slide-badge {
    background: linear-gradient(90deg, rgba(68, 54, 229, 1), rgba(68, 54, 229, 0.347) 100%);
    color: #ffffff;
    border-radius: 4px;
    position: absolute;
    z-index: 9;
    right: 14px;
    display: inline-block;
    width: auto;
    font-weight: bold;
    padding: 4px 12px;
    font-size: 1em;
    line-height: 140%;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 25%);
    top: -18px;
    margin: 0;
}

.upsell-slide-card {
    // border: 1px solid;
    // border-color: #373854;
    // border-radius: 8px;
    // background: #1E1D30;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-align: left;
    overflow: hidden;
    padding: 0px;
}

.upsell-slide-img-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    //    max-width: 27%;
    //    min-width: 48px;
    border-radius: 8px;
    // margin-right: 10px;
    // padding: 1px;
    width: 150px;
    height: auto;
    max-height: 150px;
    // justify-content: center;
    flex-basis: 20%;
    justify-content: flex-start;
    margin: 0 15px;
}

img {
    max-width: 100%;
}

.price {
    margin-top: 5px;
    border: none;
    margin: auto;
}

.upsell-slide-img {
    width: 100% !important;
    height: 150px;
    object-fit: contain;
}

.upsell-slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
    padding: 10px 0;
    overflow: auto;
}

.upsell-slide-topcontent {
    margin-bottom: 0px;
}

.upsell-slide-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4px;
}

.upsell-slide-product-title {
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    line-height: 20px;
}

.upsell-slide-product-title a {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.upsell-slide-product-subtitle {
    margin: 0;
    line-height: 160%;
    font-size: 14px;
    margin-bottom: 4px;
    color: #111111;
}

.upsell-slide-atc {
    font-weight: normal;
    border-radius: 4px;
    color: #ffffff;
    background: linear-gradient(90deg, rgba(68, 54, 229, 1), rgba(68, 54, 229, 0.347) 100%);
    border: 0px solid #000000;
    position: relative;
    cursor: pointer;
    display: flex;
    line-height: 100%;
    letter-spacing: 1px;
    padding: 10px 16px;
    font-size: 0.85em;
    flex-direction: row;
    width: max-content;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.upsell-slide-atc__loader {
    display: none;
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upsell-slide-atc__check {
    display: none;
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upsell-slide-atc-text {}

.upsell-slide-pricing {
    margin: 0;
    line-height: 160%;
    font-size: 14px;
    margin-bottom: 4px;
    color: #d2d2d2;
}

.upsell-slide-price {
    text-decoration: line-through;
    opacity: 0.75;
}

.upsell-slide-compared-price {}

.upsell-slide-variant-content {
    display: flex;
    flex-wrap: wrap;
}

.upsell-slide-variant-content select {
    margin-right: 5px
}

.upsell-slide-variant-content select,
.upsell-slide-variant-content button {
    margin-right: 4px;
    margin-top: 4px;
    outline: none;
    box-shadow: none;
}

// .slick-slide.slick-active.slick-center.slick-current {
//     top: 0 !important;
//     position: absolute !important;
// }
// .slick-slide {
//     top: 0 !important;
//     position: absolute !important;
// }
// .slick-list {
//     height: auto!important;
// }
// .slick-track.slick-center {
//     height: 100vh!important;
// }
// .slick-list {
//     height: 55vh !important;
//     padding: 20px !important;
//     overflow: unset;
// }
.boxWrapper {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    .slick-prev {
        left: -18px;
        &:before {
            content: '\2329';
        }
    }
    .slick-next {
        right: -18px;
        &:before {
            content: '\232A';
        }
    }
}

.upsellapp .boxWrapper .slick-list .slick-track {
    display: flex;
    align-items: center;
}