.res-more-filter {
    display: none !important;
}

@media (max-width: 1280px) {}

@media (max-width: 1024px) {}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .res-more-filter {
        display: block !important;
    }
    .res-less-filter {
        display: none !important;
    }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {}