<script>
    console.log("=====================App-Embed Block==============================================================");

    // console.log('Some thing : ', '{{ request.origin }}');
    function loadScript(url) {
        var script = document.createElement('script');
        script.src = url;
        var head = document.getElementsByTagName('head')[0];
        head.appendChild(script);

        // script.addEventListener('load', (e) => {
        //   console.log('jquery loaded');
        // })
    }
    const app_url = 'https://upsell.test';
    let url = `${app_url}/js/upsell_shopify.js?shop={{ request.host }}`
    console.log('script url : ', url);

    loadScript(url);
</script>

{% schema %} { "name": "Upsell", "target": "head", "settings": [] } {% endschema %}