<template>
    <div>
                 <div id="AppStatusToggleBox" class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                       <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                          <h2 class="Polaris-Tabs__Title label">Turn on or off app</h2>                      
                      </div>   
                      <div class="Polaris-Stack__Item switch_toggle">    
                      <div class="d-flex align-items-center">
                      <div id="switch_items_toggle_app_status" class="app_switch_items_toggle">
                         <input type="checkbox" id="app_switch_items" name="app_switch_items" @click="updateStatusApp()" v-model="app_is_turn_on" /><label for="app_switch_items">Toggle</label>
                      </div>
                      </div>   
                      </div>                                            
                  </div>
    </div>
</template>
<script>
import instance from "../../../axios";
import helper from "../../../helper";

export default {
    name:"AppStatusChangeToggle",
    props:[],
    components:{},
    data(){
        return{
            app_is_turn_on: true
        }
    },
    mounted(){
          this.getAppStatusData();
    },
    created(){

    },
    updated(){

    },
    methods:{
     getAppStatusData(app_is_turn_on){
                              let self = this;
                               let endPoint =  '/settings/get-app-status';
                                 instance.get(endPoint).then((res) => {  
                                    if (res.data.success) {
                                        //console.log("MarkAsMissing-data",res.data.data);
                                       self.app_is_turn_on = res.data.is_app_enable;                  
                                    }
                                    // Unknown server error (catch all)
                                    else {
                                        helper.errorToast("Could not change app status due to server error. Please try again or contact support for help");
                                        //  console.log('Could not update line-items mark-as-missing due to server error. Please try again or contact support for help.');
                                        return false;
                                    }
                                }).catch(function(error){
                                       console.log("error :: ",error);
                                }).finally(res => {
                                       
                                });
     },
     updateStatusApp(){       
                      this.app_is_turn_on = !this.app_is_turn_on;
                      console.log("app_is_turn_on",this.app_is_turn_on);
                  
                          helper.startLoading();
                             let params = {                               
                                'is_app_enable_status' : this.app_is_turn_on
                              };
                              let base = this;
                               let endPoint =  '/settings/change-app-status';
                                 instance.post(endPoint, params).then((res) => {  
                                    if (res.data.success) {
                                        //console.log("MarkAsMissing-data",res.data.data);
                                        helper.successToast(res.data.message);
                                        base.getAppStatusData();  
                                    }
                                    // Unknown server error (catch all)
                                    else {
                                        helper.errorToast("Could not change app status due to server error. Please try again or contact support for help");
                                        //  console.log('Could not update line-items mark-as-missing due to server error. Please try again or contact support for help.');
                                        return false;
                                    }
                                }).catch(function(error){
                                       console.log("error :: ",error);
                                }).finally(res => {
                                        helper.stopLoading();
                                });
                   
           }, 
    }
}
</script>