<template>
    <div>            
         <div class="row">
           
           <!-- Total users ================================================================================= -->
            <div class="col-md-3">
                <div class="Polaris-Card total_analytics_row_card">
                    <div class="Polaris-CalloutCard__Container">
                        <div class="Polaris-Card__Section">
                            <div class="Polaris-CalloutCard">
                            <div class="Polaris-CalloutCard__Content">
                                <div class="Polaris-CalloutCard__Title">
                                  <p class="total_analytics_card_title">Total offers clicked</p>
                                </div>
                                <div class="Polaris-TextContainer">                             
                                 <h2 class="total_analytics_card_number">{{total_offer_clicked}}</h2>
                                </div>
                            </div>
                              <span class="total_analytics_card_icon">
                                   <img src="/images/analytics/total_customer.png" alt="" width="30px">
                              </span>                           
                            </div>
                        </div>
                        </div>
                    </div>
             </div>   
          <!--@end:: Total users ================================================================================= -->

              <!-- Total Orders ================================================================================= -->
            <div class="col-md-3">
                <div class="Polaris-Card total_analytics_row_card">
                    <div class="Polaris-CalloutCard__Container">
                        <div class="Polaris-Card__Section">
                            <div class="Polaris-CalloutCard">
                            <div class="Polaris-CalloutCard__Content">
                                <div class="Polaris-CalloutCard__Title">
                                  <p class="total_analytics_card_title">Total orders from offers</p>
                                </div>
                                <div class="Polaris-TextContainer">                             
                                 <h2 class="total_analytics_card_number">{{total_order}}</h2>
                                </div>
                            </div>
                              <span class="total_analytics_card_icon">
                                  <img src="/images/analytics/total_order.png" alt="" width="30px">
                              </span>                           
                            </div>
                        </div>
                        </div>
                    </div>
             </div>   
          <!--@end:: Total Orders ================================================================================= -->



         <!-- Total Revenue ================================================================================= -->
            <div class="col-md-3">
                <div class="Polaris-Card total_analytics_row_card">
                    <div class="Polaris-CalloutCard__Container">
                        <div class="Polaris-Card__Section">
                            <div class="Polaris-CalloutCard">
                            <div class="Polaris-CalloutCard__Content">
                                <div class="Polaris-CalloutCard__Title">
                                  <p class="total_analytics_card_title">Total Revenue</p>
                                </div>
                                <div class="Polaris-TextContainer">                             
                                 <h2 class="total_analytics_card_number">{{currency_symbol}} {{total_revenue}} <sub>/ per Sale</sub></h2>
                                </div>
                            </div>
                              <span class="total_analytics_card_icon">
                                   <img src="/images/analytics/total_revenue.png" alt="" width="20px">
                              </span>                           
                            </div>
                        </div>
                        </div>
                    </div>
             </div>   
          <!--@end:: Total Revenue ================================================================================= -->




         <!-- Total Upsell Products ================================================================================= -->
            <div class="col-md-3">
                <div class="Polaris-Card total_analytics_row_card">
                    <div class="Polaris-CalloutCard__Container">
                        <div class="Polaris-Card__Section">
                            <div class="Polaris-CalloutCard">
                            <div class="Polaris-CalloutCard__Content">
                                <div class="Polaris-CalloutCard__Title">
                                  <p class="total_analytics_card_title">Upsell Products</p>
                                </div>
                                <div class="Polaris-TextContainer">                             
                                 <h2 class="total_analytics_card_number">{{total_upsell_product}}</h2>
                                </div>
                            </div>
                              <span class="total_analytics_card_icon">
                                   <img src="/images/analytics/total_upsell_product.png" alt="" width="30px">
                              </span>                           
                            </div>
                        </div>
                        </div>
                    </div>
             </div>   
          <!--@end:: Total Upsell Products ================================================================================= -->
           </div>     
    </div>
</template>
<script>

import instance from "../../../axios";
import helper from "../../../helper";

export default {
    name : "TotalRecordCardRow",
    data(){
        return{
            total_customer : 0,
            total_order : 0,
            total_revenue :0 ,
            total_upsell_product :0,
            total_offer_clicked:0,
            currency:'',
            currency_symbol:''
        }
    },
    mounted(){           
           this.getTotalAnalyticsInfo();
    },
    created(){

    },
    updated(){

    },
    methods:{
      getTotalAnalyticsInfo(){ 
          console.log("dashboard::analyticsinfo");              
                             
                              let base = this;
                               let endPoint =  '/dashboard/analytics/total-info';
                                 instance.post(endPoint).then((res) => {  
                                    if (res.data.success) {
                                        console.log("dashboard-analytics",res.data.data);
                                        base.total_customer = res.data.data.total_customer;
                                        base.total_order = res.data.data.total_order;
                                        base.total_revenue = res.data.data.total_revenue;
                                        base.total_upsell_product = res.data.data.total_upsell_product;  
                                        base.currency = res.data.shopInfo.currency;
                                        base.currency_symbol = res.data.currency_symbol;  
                                        base.total_offer_clicked = res.data.data.total_offer_clicked;                                
                                    }
                                    // Unknown server error (catch all)
                                    else {
                                        helper.errorToast("Could not get dashboard info due to server error. Please try again or contact support for help");
                                        //  console.log('Could not update line-items mark-as-missing due to server error. Please try again or contact support for help.');
                                        return false;
                                    }
                                }).catch(function(error){
                                       console.log("error :: ",error);
                                }).finally(res => {
                                        helper.stopLoading();
                                });
      }
    }
}
</script>