<template>
    <div>
        <h1>About</h1>
    </div>
</template>

<script>
export default {
    name:"AboutComponent",
    data(){
        return{
            proId:this.$route.params.Pid,
        }
    },
     mounted() {
         console.log("proId", this.proId); 
     },
  methods: {
  
  },
  created() {
     
  },
  updated() {},
}
</script>