<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    data(){
        return{
             firstname :"",
             lastname :"",
             birthyear : ""
        }
    },
    mounted(){
        console.log("DEMO :: mounted");
    },
    computed(){
        console.log("DEMO :: computed");
    },
    watch(){
        console.log("DEMO :: watch");
    },
    created(){
        console.log("DEMO :: created");
    },
    updated(){
       console.log("DEMO :: updated");
    },
    methods:{

    }
    }
</script>
