<template>
    <div>           
  <div p-color-scheme="light">
  <div class="Polaris-Page">
    <div class="Polaris-Page-Header Polaris-Page-Header--hasNavigation Polaris-Page-Header--hasActionMenu Polaris-Page-Header--mobileView Polaris-Page-Header--mediumTitle">
      <div class="Polaris-Page-Header__Row">
        <div class="Polaris-Page-Header__BreadcrumbWrapper">
          <nav role="navigation"><a class="Polaris-Breadcrumbs__Breadcrumb" href="/products" data-polaris-unstyled="true"><span class="Polaris-Breadcrumbs__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                    <path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
                  </svg></span></span><span class="Polaris-VisuallyHidden">Products</span></a></nav>
        </div>
        <div class="Polaris-Page-Header__TitleWrapper">
          <div class="Polaris-Header-Title__TitleWithMetadataWrapper">
            <h1 class="Polaris-Header-Title Polaris-Header-Title__TitleWithSubtitle">3/4 inch Leather pet collar</h1>
            <div class="Polaris-Header-Title__TitleMetadata"><span class="Polaris-Badge Polaris-Badge--statusSuccess"><span class="Polaris-VisuallyHidden">Success </span>Paid</span></div>
          </div>
          <div class="Polaris-Header-Title__SubTitle Polaris-Header-Title__SubtitleCompact">
            <p>Perfect for any pet</p>
          </div>
        </div>
        <div class="Polaris-Page-Header__RightAlign">
          <div class="Polaris-Page-Header__Actions">
            <div class="Polaris-ActionMenu">
              <div>
                <div class="Polaris-ActionMenu-RollupActions__RollupActivator"><button class="Polaris-Button Polaris-Button--outline Polaris-Button--iconOnly" aria-label="View actions for 3/4 inch Leather pet collar" type="button" tabindex="0" aria-controls="Polarispopover2" aria-owns="Polarispopover2" aria-expanded="false"><span class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                            <path d="M6 10a2 2 0 1 1-4.001-.001A2 2 0 0 1 6 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 12 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 18 10z"></path>
                          </svg></span></span></span></button></div>
              </div>
            </div>
            <div class="Polaris-Page-Header__PrimaryActionWrapper"><button class="Polaris-Button Polaris-Button--primary Polaris-Button--disabled" type="button" disabled=""><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span></button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="Polaris-Card">
        <div class="Polaris-Card__Header">
          <h2 class="Polaris-Heading">Credit card</h2>
        </div>
        <div class="Polaris-Card__Section">
          <p>Credit card information</p>
        </div>
      </div>
    </div>
  </div>
  <div id="PolarisPortalsContainer">
    <div data-portal-id="popover-Polarisportal1"></div>
  </div>
</div>  
    </div>
</template>
<script>
   import helper from "../helper";
   import instance from "../axios";
export default {
    name : "HomeComponent",
    props:[],
    components:{
      
    },
    data(){
        return {
         
        }
    },
    mounted(){
     // helper.startLoading();

       instance.get('/test').then(function(res){
              console.log("test-res",res);
       }).catch(function(error){
         console.log("error",error);
       })
       

    }
}
</script>