<template>
     <div>
       <div v-if="!is_content_load">
        <!-- <div class="chart-wrapper"> -->
        
         <revenu-price-chart  :x_categories="categories" :y_series="series" :y_pre_labels="currency_symbol"></revenu-price-chart>
        
       <!-- </div> -->
       </div>
        <div v-show="is_content_load">
           <div p-color-scheme="light">
                <div class="Polaris-SkeletonPage__Page" role="status" aria-label="Page loading">   
                    <div class="Polaris-SkeletonPage__Content">
                    <div class="Polaris-Layout">
                        <div class="Polaris-Layout__Section">
                        <div class="Polaris-Card">
                            <div class="Polaris-Card__Section">
                            <div class="Polaris-SkeletonBodyText"></div>
                            <div class="Polaris-SkeletonBodyText"></div>
                            <div class="Polaris-SkeletonBodyText"></div>
                            </div>
                        </div>
                        <div class="Polaris-Card">
                            <div class="Polaris-Card__Section">
                            <div class="Polaris-TextContainer">                
                                <div class="Polaris-SkeletonBodyText"></div>
                                <div class="Polaris-SkeletonBodyText"></div>
                                <div class="Polaris-SkeletonBodyText"></div>
                            </div>
                            </div>
                        </div>         
                        </div>       
                    </div>
                    </div>
                </div>
  <div id="PolarisPortalsContainer"></div>
</div>
        </div>
     </div>
</template>
<script>
import instance from "../../../axios";
import moment from 'moment';
import apexchart from 'vue-apexcharts'
import ContentLoading from "../../partials/ContentLoading";
import RevenuPriceChart from "./RevenuPriceChart";

export default {
    name : "RevenueGraph",
    props:['date_range'],
    components:{
        apexchart,ContentLoading,RevenuPriceChart
    },
    data(){  
        return{             
            is_content_load : false,
            categories :[],
            series:[],
            currency_symbol:'',            
        }    
    },
    mounted(){},
    created(){},
    updated(){
       
    },
     watch: { 
      	currency_symbol: function(newVal, oldVal) { // watch it
          console.log('Prop changed: ', newVal, ' | was: ', oldVal)
        }
      },
    methods:{
        updateGraph(dateRange){             
              let endDate =  moment(String(dateRange.endDate)).format("MM/DD/YYYY"); 
              let startDate = moment(String(dateRange.startDate)).format("MM/DD/YYYY"); 
              console.log("updateGraph :: child",dateRange);
              console.log("updateGraph :: startDate",startDate);
              console.log("updateGraph :: endDate",endDate);             
              this.fetchRevenueGraphData(startDate,endDate);
              return true;                      
        },
        fetchRevenueGraphData(startDate,endDate){
                this.is_content_load = true;
                let endpoint = "/analytics/revenue-graph-info";
                let params = {
                    "start_date" : startDate,
                    "end_date" : endDate                                                      
                };
                let base = this;
                 instance.post(endpoint,params)
                   .then(function(res){
                       console.log("RevenueGraph-res",res);
                        if(res.data.success){  
                                base.currency_symbol = res.data.currency_symbol;
                                console.log("fetchRevenueGraphData",base.currency_symbol);                              
                                base.categories = res.data.data.x_categories;
                                base.series = res.data.data.y_series;                                                                                                                                           
                        }                       
                    }).catch(function(error){
                        console.log("error :: ",error);
                    })
                    .finally(res => {
                            console.log("finally",res);
                            base.is_content_load = false;             
                    });
                     return true;  
        },      
    }
}
</script>
<style scoped>
div.chart-wrapper {
  display: flex;
  align-items: center;
  justify-content: center
}
</style>