<template>
     <div>
       <!-- <div class="chart-wrapper"> -->         
               <apexchart  type="line" :options="chartOptions" :series="series"></apexchart>             
          
       <!-- </div> -->         
     </div>
</template>
<script>
import instance from "../../../axios";
import moment from 'moment';
import apexchart from 'vue-apexcharts'
import ContentLoading from "../../partials/ContentLoading";

 let yaxis_pre_labels = "";

export default {
    name : "RevenuPriceChart",
    props:['x_categories','y_series','y_pre_labels'],
    components:{
        apexchart,ContentLoading
    },
    data(){  
        return{        
      
        series: [{
                    name: 'Price',
                    data: this.y_series
            }],    
         chartOptions: {                     
                    chart: {
                        id: 'vuechart-revenue',
                        width: "100%",
                        height: 500,
                        stacked: true,
                        type: 'line',
                         zoom: {
                            enabled: true
                        },
                        toolbar: {
                              show: false
                        },
                    },
                     animations: {
                            enabled: true,
                            easing: 'easeinout',
                            speed: 100,
                            animateGradually: {
                                enabled: true,
                                delay: 150
                            },
                            dynamicAnimation: {
                                enabled: true,
                                speed: 350
                            }
                        },
                    dataLabels: {
                            enabled: false
                    },
                     grid: {
                        show: true
                     },
                     stroke: {
                        curve: "smooth",
                        width: 2,
                    },
                    xaxis: {
                        categories: this.x_categories,
                        labels: {   
                                    show: true,
                                    rotate: -45,
                                    showDuplicates: false,
                                    style: {
                                            colors: [],
                                            fontSize: '10px',
                                            fontFamily: 'Helvetica, Arial, sans-serif',
                                            fontWeight: 400,
                                            cssClass: 'apexcharts-xaxis-label',
                                         },
                                 },
                        axisBorder: {
                                        show: true,
                                        color: "#048162"
                                     },
                    },
                    yaxis: {
                            labels: {
                                        formatter: function(val, index) {
                                            return yaxis_pre_labels+" "+val.toFixed(2);
                                        }
                                    },
                            title: {
                                text: "App offer revenue",
                                style: {
                                        color: "#000000",
                                        fontSize:  '14px',
                                         fontWeight: 500,
                                    }                        
                                }
                    },        
                    colors:['#048162'],
                    fill: {
                        colors: ['#048162']
                    }, 
                    noData: {
                        text: 'Revenue Not Found' 
                    }                   
                },               
           }
    },
    mounted(){
        console.log("price-chart::mounted");        
    },
    created() {  
            yaxis_pre_labels = this.y_pre_labels;
            console.log("this.y_series",this.y_series);
            console.log("this.y_pre_labels",this.y_pre_labels);         
          },
    updated(){
             yaxis_pre_labels = this.y_pre_labels;
            console.log("this.y_series",this.y_series);
            console.log("this.y_pre_labels",this.y_pre_labels); 
    },
    watch: {      
       y_pre_labels: function (val) {
            console.log("y_pre_labels change",val); // print out when the name changes
       },
   },
    methods:{  
           
    }
}
</script>
<style scoped>
div.chart-wrapper {
  display: flex;
  align-items: center;
  justify-content: center
}
</style>