<template>
    <div>
        <div class="Polaris-Card">
            <div class="Polaris-Card__Header">
               <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                 <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                    <h2 class="Polaris-Heading">Top products added to cart</h2>
                  </div>                   
                </div>
            </div>
            <div class="Polaris-Card__Section">
               
                 <div class="" v-if="!is_content_load">
                    <div v-if="products && products.length > 0">

                    <div class="Polaris-DataTable Polaris-DataTable__ShowTotals">
                        <div class="Polaris-DataTable__ScrollContainer">
                        <table class="Polaris-DataTable__Table">
                            <thead>
                                <tr v-if="products.length > 0">
                                <th  data-polaris-header-cell="true" class="Polaris-DataTable__Cell  Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--header" scope="col" aria-sort="none">
                                    <h4><span class="Polaris-TextStyle--variationStrong">Products </span></h4>
                                </th>
                                <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell  Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--header" scope="col" aria-sort="none">
                                    <h4><span class="Polaris-TextStyle--variationStrong">Order</span></h4>
                                </th>
                                <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell  Polaris-DataTable__Cell--firstColumn Polaris-DataTable__Cell--header" scope="col" aria-sort="none">
                                    <h4><span class="Polaris-TextStyle--variationStrong">Total</span></h4>
                                </th>                                            
                            </tr>                                
                            </thead>
                            <tbody>
                            <tr v-for="(product, index) in products" :key="index"  :id="product.id"  class="Polaris-DataTable__TableRow Polaris-DataTable--hoverable" @click="openProductPicker(product)">
                                <td class="Polaris-DataTable__Cell  Polaris-DataTable__Cell--firstColumn" scope="row">
                                <div class="d-flex align-center">
                                        <div class="Polaris-ResourceItem__ItemWrapper">
                                            <div class="Polaris-ResourceItem" data-href="produdcts/341"><a aria-describedby="341" aria-label="View details for Black &amp; orange scarf" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay17" href="produdcts/341" data-polaris-unstyled="true"></a>
                                                <div class="Polaris-ResourceItem__Container TopProductInfo-Polaris-ResourceItem__Container" id="341">
                                                    <div class="Polaris-ResourceItem__Owned">
                                                        <div class="Polaris-ResourceItem__Media">
                                                            <span class="Polaris-Thumbnail cart-product-inage">
                                                                <div v-if="product.image">
                                                                    <img  :src="(product.image!==null ? product.image : default_product_image)"
                                                                        :alt="product.name"
                                                                        @error="imageLoadError"
                                                                        class="img-fluid">
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="Polaris-ResourceItem__Content">
                                                        <div class="d-flex align-center">                                              
                                                            <span class="Polaris-Button__Text">{{product.title}}</span>                                                
                                                        </div>                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="Polaris-DataTable__Cell">{{product.order_count}}</td>
                                <td class="Polaris-DataTable__Cell">{{currency_symbol}} {{product.price_count}}</td>                               
                            </tr>              
                            </tbody>                 
                        </table>
                        </div>
                    </div>

                    </div>
                    <div v-else>  
                    <div class=" Polaris-Card__Section">
                            <div id="record_not_found" colspan="4" class="text-center">
                                <svg style="fill: #c3cfd8;width: 80px;margin-bottom: 5px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M8 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm9.707 4.293l-4.82-4.82C13.585 10.493 14 9.296 14 8c0-3.313-2.687-6-6-6S2 4.687 2 8s2.687 6 6 6c1.296 0 2.492-.415 3.473-1.113l4.82 4.82c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414z"></path></svg>
                                <h2 class="Polaris-Heading">Could not find any products</h2>
                                <!-- <p class="Polaris-TextStyle--variationSubdued">Try changing the filters or search term</p> -->
                            </div>
                    </div>  
                    </div> 
                </div>
                 <div v-show="is_content_load">
                  <content-loading></content-loading>
               </div>
            </div>            
         </div>         
    </div>
</template>
<script> 

import instance from "../../../axios";
import helper from "../../../helper";
import ContentLoading from "../../partials/ContentLoading";
export default {
    name:"TopAddedCartPoducts",
    props:['currency_symbol'],
    components:{
          ContentLoading
    },
    data(){
        return{
             products:[],
             default_product_image:"/images/defaultProduct.png",
             is_content_load : false,
        }
    },
    mounted(){
          this.fetchProductsAll();           
    },
    created(){

    },
    updated(){

    },
    methods:{
         imageLoadError (event) {
                      event.target.src = this.default_product_image;              
         },
         fetchProductsAll(){
                this.is_content_load = true;
                helper.startLoading();
               
                let endPoint = "/analytics/top-added-cart-poducts";

                let self = this;
                
                instance.post(endPoint).then(function(res){

                    console.log("Added cart products :: ",res);
                    
                      if(res.data.success){
                             self.products = res.data.products;                            
                      }  

                  }).catch(function(error){
                      console.log("error :: ",error);
                  }).finally(res => {
                        helper.stopLoading();  
                        self.is_content_load = false;                      
                  });
                return true;
              },
    }

}
</script>