<template>
<div>
        <!-- Dynamic view based on routing system here -->
        <Menu></Menu>
        <router-view></router-view>
</div>
</template>
<script>
import Menu from "../layouts/Menu";
export default {
     components:{
         Menu
     },
     data(){
         return{
            
         }
     }
}
</script>