<template>
  <div>
    <!-- <router-link to="/">Home</router-link>
    <router-link to="/about">About</router-link> -->

    <div p-color-scheme="light">  
          <div class="Polaris-Tabs__Wrapper d-flex" id="TopMenuBar">          
            <ul role="tablist" class="Polaris-Tabs flex" id="TopMenuLeft">
             <li v-for="(menu,index)  in menus" :key="index"  class="Polaris-Tabs__TabContainer" role="presentation">                
                   <router-link  :to="{'name':menu.name, params: { Pid: '123' }}"  :class="['Polaris-Tabs__Tab',setActiveMenu(menu.name)]"  tag="button">
                        <span class="Polaris-Tabs__Title">{{menu.title}}</span>
                    </router-link>
              </li>  
               </ul>  
              <ul role="tablist" class="Polaris-Tabs flex" id="TopMenuRight">
              <li class="Polaris-Tabs__TabContainer">
                       <app-status-change-toggle></app-status-change-toggle>
              </li> 
              <li class="Polaris-Tabs__TabContainer">
                       <!-- <div>
                         <div class="">
                                                        <div class="Polaris-Select">
                                                            <select id="PolarisSelect28" class="Polaris-Select__Input"
                                                                    aria-invalid="false" v-model="installation_select"
                                                                    @change="handleInstallationMenu($event)">
                                                                <option value="installation">Installation</option>
                                                                <option value="how_to_install">How to uninstall</option>
                                                                <option value="setup_guide">Setup guide</option>
                                                            </select>
                                                            <div class="Polaris-Select__Content" aria-hidden="true"><span
                                                                class="Polaris-Select__SelectedOption">  {{SelectedInstallationMenuOption}}</span><span
                                                                class="Polaris-Select__Icon"><span
                                                                class="Polaris-Icon"><span
                                                                class="Polaris-VisuallyHidden"></span><svg
                                                                viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                                focusable="false" aria-hidden="true">
                                                                  <path d="m5 8 5 5 5-5H5z"></path>
                                                                </svg></span></span>
                                                            </div>
                                                            <div class="Polaris-Select__Backdrop"></div>
                                                        </div>
                                                    </div>
                       </div> -->
                         <div><div>
                                                            <div class="Polaris-BulkActions__BulkActionButton">
                                                            <button  @click="installationCollapsibleToggle()" class="Polaris-Button" type="button" tabindex="0" aria-controls="Polarispopover6" aria-owns="Polarispopover6" aria-expanded="false">
                                                            <span class="Polaris-Button__Content">
                                                            <span class="Polaris-Button__Text">{{SelectedInstallationMenuOption}}</span>
                                                        <span class="Polaris-Button__Icon">
                                                        <div class="">
                                                        <span class="Polaris-Icon">
                                                            <span class="Polaris-VisuallyHidden"></span>
                                                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                                            <path d="M13.098 8h-6.196c-.751 0-1.172.754-.708 1.268l3.098 3.432c.36.399 1.055.399 1.416 0l3.098-3.433c.464-.513.043-1.267-.708-1.267z">
                                                            </path>
                                                            </svg>
                                                            </span>
                                                            </div>
                                                            </span>
                                                            </span>
                                                            </button>
                                                            </div>
                                                            <div v-show="installationCollapsible" id="installationCollapsible" class="Polaris-PositionedOverlay Polaris-Popover__PopoverOverlay Polaris-Popover__PopoverOverlay--open" style="width: 173px;">
                                                            <div   class="Polaris-Popover" data-polaris-overlay="true">
                                                            <div class="Polaris-Popover__Wrapper actionCollapsible">
                                                                <div id="Polarispopover22" tabindex="-1" class="Polaris-Popover__Content">
                                                                <div class="Polaris-Popover__Pane Polaris-Scrollable Polaris-Scrollable--vertical" data-polaris-scrollable="true">
                                                                    <div class="Polaris-ActionList">
                                                                    <div class="Polaris-ActionList__Section--withoutTitle">
                                                                        <ul class="Polaris-ActionList__Actions InstallationActionList" role="menu" tabindex="-1">
                                                                        <!-- <li role="presentation">
                                                                            <button type="button" class="Polaris-ActionList__Item" role="menuitem">
                                                                                <span class="Polaris-ActionList__Content">
                                                                                    <span class="Polaris-ActionList__Text">Installation</span>
                                                                                </span>
                                                                             </button>                                                                    
                                                                        </li> -->                                                                      
                                                                          <li role="presentation">
                                                                            <button type="button" class="Polaris-ActionList__Item" role="menuitem" @click="goToFaqPage('FAQ')">
                                                                                <span class="Polaris-ActionList__Content">
                                                                                <span class="Polaris-ActionList__Text">FAQ</span>
                                                                                </span>
                                                                            </button>
                                                                         </li> 
                                                                         <li role="presentation">
                                                                            <button type="button" class="Polaris-ActionList__Item" role="menuitem" @click="goToSetupGuidePage('Setup guide')">
                                                                                <span class="Polaris-ActionList__Content">
                                                                                <span class="Polaris-ActionList__Text">Setup guide</span>
                                                                                </span>
                                                                            </button>
                                                                         </li> 
                                                                           <li role="presentation">
                                                                            <button type="button" class="Polaris-ActionList__Item" role="menuitem" @click="goToGetSnippetsUninstallPage('How to uninstall')">
                                                                                <span class="Polaris-ActionList__Content">
                                                                                <span class="Polaris-ActionList__Text">How to uninstall</span>
                                                                                </span>
                                                                            </button>
                                                                         </li>
                                                                        </ul>
                                                                     </div>
                                                                    </div>
                                                                </div>
                                                              </div>
                                                             </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
              </li> 
              <li class="Polaris-Tabs__TabContainer">
               <div p-color-scheme="light">
                 <button class="Polaris-Button" type="button" @click="goToGetHelpPage()">
                   <span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Get help</span>
                   </span>
                 </button>
                   <div id="PolarisPortalsContainer"></div>
              </div>
              </li>
            </ul>            
          </div>   
  </div>
</div>
</template>
<script>
import AppStatusChangeToggle from "../pages/dashboard/AppStatusChangeToggle";
export default {
  name: "Menu",
  components: {
    AppStatusChangeToggle
  },
  props: [],
  data() {
    return {            
         menus:[] ,
         SelectedInstallationMenuOption : 'Installation',
         installation_select : "installation",
         installationCollapsible :false,          
    };
  },
  mounted() {

    document.addEventListener('click', this.closeOutSideClick);
       
  },
  beforeDestroy () {
    console.log("MENU::beforeDestroy");
    document.removeEventListener('click',this.closeOutSideClick);
  },
  methods: {
  setActiveMenu: function(menu) { 
    //console.log("menu",menu);  
    //console.log("route-name",this.$route.name);    
     if( this.$route.name == menu){
          return 'Polaris-Tabs__Tab--selected';
     }
     if(this.$route.name == "addupsellpage" && menu == "manage-upsell-products"){
       return 'Polaris-Tabs__Tab--selected';
     }
    },
    handleInstallationMenu(e){
         if(e.target.options.selectedIndex > -1) {

                    var id = e.target.value;
                    var name = e.target.options[e.target.options.selectedIndex].text;
                    //console.log('id ',id );
                   // console.log('name ',name );

                    this.SelectedInstallationMenuOption = name;
                }      
    },
    goToGetHelpPage(){
      console.log("get help page");
     // this.$router.push({name:'help'});

     window.open('https://ppupsell.com/pages/contact', '_blank');
           this.installationCollapsible = false;
    },
    goToGetSnippetsUninstallPage(name){
      this.SelectedInstallationMenuOption = name;
      console.log("get snippets-uninstall page");
      this.$router.push({name:'snippets-uninstall'});
      this.installationCollapsible = false;
    },
    goToSetupGuidePage(name){
          this.SelectedInstallationMenuOption = name;
           window.open('https://ppupsell.com/pages/installation', '_blank');
           this.installationCollapsible = false;
    },
     goToFaqPage(name){
          this.SelectedInstallationMenuOption = name;
           window.open('https://ppupsell.com/pages/faq', '_blank');
           this.installationCollapsible = false;
    },
    installationCollapsibleToggle(){
       this.installationCollapsible = !this.installationCollapsible;
    },  
    closeOutSideClick (e) {
      if (!this.$el.contains(e.target)) {
        this.installationCollapsible = false
      }
    }   
  },
  created() {      
      console.log("routes", this.$router.options.routes);
       this.$router.options.routes.forEach(route => {
          if(route.meta.ignoreInMenu == 0){
           this.menus.push({
               name:route.name,
               title:route.title, 
           })      
          }     
       });       
  },   
  updated() {
      
  },
};
</script>