<template>
    <div class="upsellapp">
    <section v-if="upsellProducts.length > 0">
           
            <div v-for="(item,item_index) in upsellProducts" :key="item_index">
            <div class="cardStock" :style="upsell_grid_style">
                <div class="stockDeatil d-flex align-item">
                    <div  class="d-flex align-item">
                        <div class="prodectImg">
                            <img :src="item.product.image" class="img-fluid" alt="image">
                        </div>
                        <div class="prodectDetail" :style="upsell_product_details_style">
                            <p>{{item.product.title}}</p>                            
                            <!-- <h4 class="mt-2 price">$49.95 {{currency}}</h4> -->
                             <div v-if="item.variants && item.variants.length>0">
                               <div v-for="(variant,index) in item.variants" :key="index">
                                     <h4 class="mt-2 price d-flex align-item" v-if="variant.selected">{{variant.price}} {{currency}}</h4>                                                                         
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
               
                <div class="stockDeatil align-item varaints-sec">                     
                     <div v-for="(opt_values,opt_name,index) in item.options" :key="index">
                                 <label class="mt-2 price" for="">{{opt_name}}</label>
                                 <select :name="opt_name" id="" :v-model="opt_name" v-on:change="onChangeOption($event,opt_name,item,item_index)">
                                     <option v-for="(option,index) in opt_values" :key="index" :value="option" :selected="selecteOpt.opt_name==option" :data-name="opt_name" >
                                      {{option}}     
                                     </option>                                     
                                 </select>                        
                          </div> 
                </div>
                  <div class="icon modal-toggle">
                   <div v-if="item.variants && item.variants.length>0">
                               <div v-for="(variant,index) in item.variants" :key="index">
                                     <!-- <h4 class="mt-2 price d-flex align-item" v-if="variant.selected">{{variant.price}} {{currency}}</h4>  -->
                                     <div v-if="variant.selected" class="d-flex align-item add_custom_btn_right">
                                        <button v-on:click="submitItemToCart(variant)" id="add_custom_btn" :class="'add_cart_btn_'+variant.legacyResourceId" data-variant-id="" :style="upsell_add_btn_style">
                                            {{add_btn_text}} 
                                        </button>                                        
                                    </div>                                    
                               </div>
                   </div>
                </div>
            </div>
            </div>
    </section>           
           <popup  :popupData="popupData" ></popup>
    </div>

</template>
<style>
.mt-2{
    margin-top: 4px;
}
.img-fluid{
    width: 100%;
}
.d-flex{
    display: flex;
}
.align-item{
    align-items: center;
}
a{
    text-decoration: none;
    color: #000;
}
.cardStock {
    margin: 14px 0;
    background-color: rgb(243 243 243);   
    display: block;
    padding: 10px;
    width: 100%;
}
.cardStock .stockDeatil  .prodectImg{
    width: 25px;
    margin-right: 10px;
    padding: 5px;
    max-width: 25px;
}
.price{
        color: #000;
        font-weight: bold;
}

#add_custom_btn{
    width: auto;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_custom_btn_right{
     justify-content: right;
    align-items: center;
    display: flex;
}
.varaints-sec{
    margin: 15px;
    padding-left: 20px;
}

</style>
<script>
 const headers = {
                 'Content-Type': 'application/x-www-form-urlencoded',
                 'Accept': 'application/json'              
            };
import axios from 'axios';
import Popup from './Popup.vue';

const host = process.env.MIX_APP_URL;
export default {
    name:"CustomProducts",
    components:{
        Popup
    },
    data(){
        return{           
           upsellProducts : [],  
           selecteOpt  : [] ,
           shop : [] ,
           popupData : { 
                "image" : null,
                "product_title" :'',
                "display" : "none",
                "notification_type" : "add",//remove
                "add_cart_text" : "Added to Cart",
                "remove_cart_text" : "Removed from Cart",
                "styles":{                
                    "background": "rgb(243 243 243)",
                    "border-color": "rgba(0, 0, 0, 0.4)",
                    "border-radius": "5px",
                    "border": "2px" 
                }                              
            },     
            settings : [] ,
            upsell_grid_style :{
                 "background": "rgb(243 243 243)",
                 "border": "0px solid",
                 "border-color": "rgb(243 243 243)",
                 "padding": "10px",
                 "border-radius": "0px"               
            }, 
            upsell_add_btn_style :{
                 "background": "rgb(243 243 243)",
                 "border": "2px solid",
                 "border-color": "#00b7f4",
                 "padding": "15px",
                 "border-radius": "2px" ,             
                 "font-size": "16px",
                 "font-weight": "400",
                 "color": "#00b7f4",
                 "float": "right"           
            },   
            add_btn_text:"Add To Cart",  
            notification_popup_show : false,
            upsell_product_details_style : {
                 "font-size": "16px",
                 "font-weight": "400",
                 "color": "rgb(0, 0, 0)",
                 "text-align": "left"
            },
            currency:''
        }
    },
    mounted(){
        
        let url = window.location.href;
        console.log("href",url);
        if (url.includes("/")) {
            let handle = url.split('/').pop();
            console.log("handle",handle);
            if (url.includes("/products/") && handle) {
                this.getUpSellProductsByHandle(handle);
            }
        }        
    },
    methods:{
        getUpSellProductsByHandle(handle){
             console.log("handle",handle);
             let endpoint = host+"/front/upsell/products/"+handle;
             console.log("endpoint",endpoint);
           
            let self = this;
           
            axios.get(endpoint,{ headers }).then(function(res){

                 if(res.data.success){
                       var upsellsData = res.data.data;
                       self.upsellProducts = upsellsData;
                       self.shop = res.data.shop;
                       self.currency = res.data.shop.currency;
                        
                    self.upsellProducts.forEach((element,index) => {
                        element.variants.forEach((variant)=>{
                            variant.add = false;
                            
                            let matchedOptions = 0;
                            for (let option in element.options) {

                                variant.selectedOptions.forEach((sel)=>{
                                    console.log('inner ',sel.value);

                                    if(sel.value == element.options[option][0]){
                                        matchedOptions++;
                                        // console.log(option);
                                    }
                                })
                            }

                            if(matchedOptions == Object.keys(element.options).length){
                                // console.log(variant);
                                variant.selected = true;
                            }else{
                                variant.selected = false;
                            }
                        })
                    });


                //Settings :: Dynamic styles css=================================================================================

                  if(upsellsData.length > 0){

                    self.settings = res.data.settings;

                    console.log("this.settings",self.settings);
                    console.log("this.settings.upsell_grid_bg_color",self.settings.upsell_grid_bg_color);

                    // START :: Product grid style----------------

                     let upsell_grid_style_dynamic = {
                                "background": self.settings.upsell_grid_bg_color,
                                "border": self.settings.upsell_grid_border_size+"px solid",
                                "border-color": self.settings.upsell_grid_border_color,
                                "padding": self.settings.upsell_grid_padding+"px",
                                "border-radius": self.settings.upsell_grid_border_radius+"px"               
                            };
                     self.upsell_grid_style = upsell_grid_style_dynamic;

                     // END :: Product grid style-------------------
                    
                     // START :: Add button style----------------
                      self.add_btn_text = self.settings.upsell_add_btn_text;

                      let upsell_add_btn_style_dynamic = {
                            "background": self.settings.upsell_add_btn_bg_color,
                            "border": self.settings.upsell_add_btn_border_size+"px solid",
                            "border-color": self.settings.upsell_add_btn_border_color,
                            "padding": self.settings.upsell_add_btn_padding+"px",
                            "border-radius": self.settings.upsell_add_btn_border_radius+"px", 
                            "font-size": self.settings.upsell_add_btn_text_font_size+"px",
                            "font-weight":self.settings.upsell_add_btn_text_font_weight,
                            "color": self.settings.upsell_add_btn_text_font_color,
                            "float": self.settings.upsell_add_btn_text_alignment, 
                      };

                      self.upsell_add_btn_style = upsell_add_btn_style_dynamic;

                     // START :: Add button style----------------

                     // START :: Product Font customization ----------------

                    
                    let upsell_product_details_style_dynamic ={
                       "font-size": self.settings.upsell_product_text_font_size+"px",
                       "font-weight":self.settings.upsell_product_text_font_weight,
                       "color": self.settings.upsell_product_text_font_color,
                       "text-align": self.settings.upsell_product_text_alignment                        
                    }

                    self.upsell_product_details_style = upsell_product_details_style_dynamic;
                    self.notification_popup_show = self.settings.upsell_notification_is_turn_on;

                    // END :: Product Font customization ----------------

                   // START :: Notification  customization ---------------- 

                    let upsell_notification_style = {
                                    "background": self.settings.upsell_notification_bg_color,
                                    "border-color": self.settings.upsell_notification_border_color,
                                    "border-radius": self.settings.upsell_notification_border_radius+"px",
                                    "border": self.settings.upsell_notification_border_size+"px",
                    };

                     self.popupData.add_cart_text = self.settings.upsell_notification_add_cart_text;
                     self.popupData.remove_cart_text = self.settings.upsell_notification_remove_cart_text;
                     self.popupData.styles = upsell_notification_style;

                   // END :: Notification  customization ----------------

                  }

                //@end Settings :: Dynamic styles css=============================================================================


                 }
                 console.log("res",self.upsellProducts);
             }).catch(function(error){ 
                 console.log("error",error);
             });          
         },
        onChangeOption(event,changed_option,item,i){

            console.log("event",event);  
            console.log('val',event.target.value);
            console.log("key",changed_option);  
            console.log("option",item);
            console.log("item",i);

            let spareData = JSON.parse(JSON.stringify(this.upsellProducts))

            spareData.forEach((element,index) => {
                if(index == i){
                    element.variants.forEach((variant)=>{
                        
                        let matchedOptions = 0;
                        for (let option in element.options) {
                            element.options[option].forEach(semiOp => {
                                if(option == changed_option && semiOp == event.target.value){
                                    // console.log('mathced ' , semiOp);
                                    variant.selectedOptions.forEach((sel)=>{
                                        if(sel.value == semiOp){
                                            matchedOptions++;
                                            // console.log('changed mathced ' , option);
                                        }
                                    })
                                }else{
                                    variant.selectedOptions.forEach((sel)=>{
                                        if(sel.value == semiOp && sel.name != changed_option){
                                            matchedOptions++;
                                            // console.log('mathced ' , option);
                                        }
                                    })
                                }
                            });
                        }
                        if(matchedOptions == Object.keys(element.options).length){
                            console.log(variant.id);
                            variant.selected = true;
                        }else{
                            // console.log('varint not matched',variant.id);
                            variant.selected = false;
                        }
                    })
                }
            });
            this.upsellProducts = spareData;
        },
        submitItemToCart(variant){
          let cartBtn = document.querySelector(".add_cart_btn_"+variant.legacyResourceId);

           console.log("cartBtn",cartBtn);
           console.log("data-variant-id",cartBtn.getAttribute("data-variant-id"));

                 if(cartBtn.getAttribute("data-variant-id")) {
                     console.log("remove item");
                    this.removeItem(variant,cartBtn);                
                 } 
                 else {
                    console.log("add item");
                    this.addItem(variant,cartBtn);
                } 
        },
        addItem(variant,cartBtn){
            console.log("variant",variant); 
                       
                let variant_id  = variant.legacyResourceId;
                let formData = {
                    items:[{
                       id: variant_id,
                       quantity: 1                  
                    }]
               };

            console.log("formData",formData);
            console.log("window.location.origin",window.location.origin);
            axios({
                method: "POST",
                url: window.location.origin + "/cart/add.js",
                data: formData
            })
            .then((res) => {

                cartBtn.textContent = "Remove from cart"
                cartBtn.setAttribute("data-variant-id", variant_id);

                console.log("cart-add Res",res);              
                this.popupData.image = res.data.items[0].image;  
                this.popupData.product_title = res.data.items[0].product_title; 
                this.popupData.notification_type = "add";
                if(this.notification_popup_show=="true"){
                    this.popupData.display = "block"; 
                }
                setTimeout(() => {
                    this.popupData.display = "none"; 
                }, 2000);
                               

            })
            .catch((e) => {
                console.log(e);
            });
        }, 
       removeItem(variant,cartBtn){
            console.log("variant",variant);   
             
                let variant_id  = variant.legacyResourceId;
                let formData = {                   
                       line: 1,
                       id: variant_id,
                       quantity: 0  
               };

            console.log("formData",formData);
            console.log("window.location.origin",window.location.origin);
            axios({
                method: "POST",
                url: window.location.origin + "/cart/change.js",
                data: formData
            })
            .then((res) => {

                cartBtn.textContent = this.add_btn_text;
                cartBtn.removeAttribute("data-variant-id");

                console.log("cart-Remove Res",res);              
                this.popupData.image = null;  
                this.popupData.notification_type = "remove";
                if(this.notification_popup_show=="true"){
                    this.popupData.display = "block"; 
                }
                setTimeout(() => {
                    this.popupData.display = "none"; 
                }, 2000);

            })
            .catch((e) => {
                console.log(e);
            });


        }      
        
    },
    beforeMount(){
        console.log("beforeMount");
    },
    created(){
        console.log("created");        
    },
    updated(){
        console.log("updated");        
    }
         
}
</script>

<style>
#upsell_app{
    display : block;
}
</style>