<template>
    <div class="upsell-offers">
    <div class="upsellapp" :data-app="shopifyDomain_unique" >    
        <div v-if="app_is_turn_on">

                <!-- START::Slider -->
                <div v-if="is_slider_turn_on">
                <div v-if="upsellOffersMap.length > 0">          
                    <div class="upsell_wrapper" v-for="(offer,offer_index) in upsellOffersMap" :key="offer_index">
                            <!-- <h2>{{offer.title}}</h2> -->
                            <div class="boxWrapper">
                              <p v-if="is_slide_badge_turn_on" class="upsell-slide-badge" :style="upsell_slide_badge_style"> {{offer.title}} </p>
                                <VueSlickCarousel v-bind="slider_settings" :key="offer_index" v-if="offer.products.length > 0" :style="[upsell_grid_style,upsell_grid_box_shadow_style,upsell_slide_dots_style]" >

                                    <!-- Slide :: Start -->                                    
                                    <div v-for="(item,item_index) in offer.products" :key="item_index" class="upsell-slide-container">
                                      
                                        <div class="upsell-slide-card">
                                            <div class="upsell-slide-img-container">

                                                  <div v-if="item.variants.length>0">
                                                        <div v-for="(variant,index) in item.variants" :key="index">                                                                 
                                                                 <img   v-if="variant.selected"
                                                                            :src="(variant.image!==null && variant.image.includes('defaultProduct.png') != true ? variant.image : item.image)"
                                                                            @error="imageLoadError"
                                                                            class="img-fluid" alt="image"
                                                                            loading="lazy"                                       
                                                                            >    
                                                                                                                                                
                                                        </div>
                                      </div>  
                                      <div v-else>                                              
                                        <img 
                                                :src="(item.image!==null ? item.image : defaultProductImage())"
                                                @error="imageLoadError"
                                                class="img-fluid" alt="image"
                                                loading="lazy"                                       
                                                >
                                       </div> 
                                               
                                            
                                            </div>
                                            <div class="upsell-slide-content">
                                                <div class="upsell-slide-topcontent">
                                                        <div class="upsell-slide-headline">
                                                            <h2 class="upsell-slide-product-title product_name" :style="upsell_product_details_style">                                              
                                                                <a :href="item.product_url" target="_blank" :style="upsell_product_details_style"> {{item.title}} </a>
                                                            </h2>
                                                        </div>                                                        
                                                </div>

                                                <div class="upsell-slide-pricing">  
                                                    <div v-if="item.variants && item.variants.length>0">
                                                        <div v-for="(variant,index) in item.variants" :key="index">
                                                                <p class="upsell-slide-product-subtitle" :style="upsell_product_details_style"  v-if="variant.selected">{{variant.price}} {{currency}}</p>                                                                         
                                                        </div>
                                                    </div>
                                                </div>

                                                        <div class="stockDeatil upsell-slide-variant-content">                     
                                                <div v-for="(opt_values,opt_name,index) in item.options" :key="index">
                                                            
                                                            <select :name="opt_name"  :v-model="opt_name" v-on:change="onChangeOption($event,opt_name,item,item_index,offer_index)" :class="shopifyDomain_unique+'_'+upsell_grid_placement+'_upsell_select_offer'+offer_index+'item_index'+item_index" :style="[upsell_variation_btn_style,upsell_variation_btn_hover_style_var]" id="variation_custom_btn">
                                                                <option value="" :data-selected="opt_name" :data-name="opt_name">{{opt_name}}</option> 
                                                                <option v-for="(option,index) in opt_values" :key="index" :value="option" :data-selected="(index==0 ? '' : '' )">
                                                                {{option}}     
                                                                </option>                                     
                                                            </select>                        
                                                </div> 
                    
                                                  <div v-if="item.variants.length>0">
                                                        <div v-for="(variant,index) in item.variants" :key="index">                                                
                                                                <div v-if="variant.selected">                                                                   
                                                                    <button v-on:click="submitItemToCart(variant,offer.id,item_index,offer_index)" id="add_custom_btn" :class="'add_cart_btn_'+variant.legacyResourceId" data-variant-id="" class="upsell-slide-atc add-cart-btn" :style="[upsell_add_btn_style,upsell_add_btn_hover_style_var]">
                                                                        <span class="upsell-add-cart-btn-text"> 
                                                                            {{add_btn_text}}                                                                      
                                                                        </span>  
                                                                         <span class="loading-animate"></span>
                                                                    </button>                                        
                                                                </div>                                                                                                                       
                                                        </div>                                       
                                                    </div>
                                                    <div v-else>
                                                        <button  v-on:click="submitItemToCartError(item_index,offer_index)" id="add_custom_btn" data-variant-id="" class="Polaris-Button Polaris-Button--plain" :style="[upsell_add_btn_style,upsell_add_btn_hover_style_var]">
                                                                <span class="upsell-add-cart-btn-text"> 
                                                                    {{add_btn_text}}                                                                      
                                                                </span>                                                            
                                                        </button>  
                                                    </div>
                                                    
                                                  </div>      
                                                   <p class="variant_error"></p>                                       
                                             </div>      
                                                              
                                        </div>                        
                                    </div>  
                                    <!-- Slide :: End -->
                            </VueSlickCarousel>
                            </div>
                    </div>
                    </div> 
                </div>
                <!-- END::Slider -->

                 <div v-else>
                <div v-if="upsellOffersMap.length > 0">

                        <div v-for="(offer,offer_index) in upsellOffersMap" :key="offer_index" :class="'offer'+offer_index">
                            <div class="offer_header">
                            <!-- <h2>{{offer.title}}</h2> -->
                            <!-- <h4>{{offer.name}}</h4>      -->
                            </div>          
                    <div v-if="offer.products.length > 0">
                    
                        <div v-for="(item,item_index) in offer.products" :key="item_index">
                        <div class="cardStock" :style="[upsell_grid_style,upsell_grid_box_shadow_style]">
                        <div class="d-flex"> 
                            <div class="stockDeatil d-flex">
                                <div>
                                    <div class="prodectImg">                                        
                                       <div v-if="item.variants.length>0">
                                                        <div v-for="(variant,index) in item.variants" :key="index">                                                                 
                                                                 <img   v-if="variant.selected"
                                                                            :src="(variant.image!==null ? variant.image : item.image)"
                                                                            @error="imageLoadError"
                                                                            class="img-fluid" alt="image"
                                                                            loading="lazy"                                       
                                                                            >    
                                                                                                                                                
                                                        </div>
                                      </div>  
                                      <div v-else>                                              
                                        <img 
                                                :src="(item.image!==null ? item.image : defaultProductImage())"
                                                @error="imageLoadError"
                                                class="img-fluid" alt="image"
                                                loading="lazy"                                       
                                                >
                                       </div> 
                                    </div>
                                
                                </div>
                            </div>

                            <div class="product-info-right">
                                <div class="prodectDetail">
                                        <p :style="upsell_product_details_style" class="product_name">
                                        <a :href="item.product_url" target="_blank"> {{item.title}} </a>
                                        </p>                            
                                        
                                        <div v-if="item.variants && item.variants.length>0">
                                        <div v-for="(variant,index) in item.variants" :key="index">
                                                <h4 class="price"  :style="upsell_product_details_style" v-if="variant.selected">{{variant.price}} {{currency}}</h4>                                                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="stockDeatil varaints-sec">                     
                                <div v-for="(opt_values,opt_name,index) in item.options" :key="index">
                                            
                                            <select :name="opt_name"  :v-model="opt_name" v-on:change="onChangeOption($event,opt_name,item,item_index,offer_index)" :class="shopifyDomain_unique+'_'+upsell_grid_placement+'_upsell_select_offer'+offer_index+'item_index'+item_index" :style="[upsell_variation_btn_style,upsell_variation_btn_hover_style_var]" id="variation_custom_btn">
                                                <option value="" :data-selected="opt_name" :data-name="opt_name">{{opt_name}}</option> 
                                                <option v-for="(option,index) in opt_values" :key="index" :value="option" :data-selected="(index==0 ? '' : '' )" :data-name="opt_name" >
                                                {{option}}     
                                                </option>                                     
                                            </select>                        
                                </div> 
                                    <div class="icon modal-toggle">
                            <div v-if="item.variants.length>0">
                                        <div v-for="(variant,index) in item.variants" :key="index">                                                
                                                <div v-if="variant.selected" class="d-flex align-item add_custom_btn_right">
                                                      <button v-on:click="submitItemToCart(variant,offer.id,item_index,offer_index)" id="add_custom_btn" :class="'add_cart_btn_'+variant.legacyResourceId" data-variant-id="" class="upsell-slide-atc add-cart-btn" :style="[upsell_add_btn_style,upsell_add_btn_hover_style_var]">
                                                            <span class="upsell-add-cart-btn-text"> 
                                                                {{add_btn_text}}                                                                      
                                                            </span>  
                                                            <span class="loading-animate"></span>
                                                      </button>                                      
                                                </div>                                                         
                                        </div>
                            </div>
                            <div v-else>
                                   <button  v-on:click="submitItemToCartError(item_index,offer_index)" id="add_custom_btn" data-variant-id="" class="Polaris-Button Polaris-Button--plain" :style="[upsell_add_btn_style,upsell_add_btn_hover_style_var]">
                                        <span class="upsell-add-cart-btn-text"> 
                                            {{add_btn_text}}                                                                      
                                        </span>                                                            
                                   </button>  
                            </div>
                            
                            </div>
                                </div>
                                <p class="variant_error"></p>
                            </div>

                        </div>  
                        </div>
                        </div>
                </div>    
                </div>   
                </div>    
                </div>
           <popup  :popupData="popupData" ></popup>
       </div> 
    </div>
    </div>
</template>
<style>

.upsellapp .icon{
    width: auto;
    height: auto;
}

.upsellapp a {   
    color: inherit !important;
}
.upsellapp .variant_error{
    color:#ed0b0b !important; 
    margin: 0;
    font-weight: 400 !important;  
    font-size: 14px;
}
/* Add to cart btn loader css */
   .upsellapp .add_custom_btn--disabled{
        cursor: not-allowed !important;
    }
    .upsellapp .add-cart-btn:not(.loading):hover {
        box-shadow: 0px 10px 25px 0px #d5d5d5;
    }
   .upsellapp  .add-cart-btn:not(.loading):hover i {
        transform: translate(7px);
    }
    
    /* .add-cart-btn.loading .upsell-add-cart-btn-text {
        width: 130px;
        display: block;
        position: relative;
        pointer-events: none;
        position: absolute;
        left: 60px;
    } */
   .upsellapp  .add-cart-btn.loading .loading-animate {
        position: absolute;
        width: 28px;
        height: 28px;
        z-index: 100;
        border-radius: 50%;
        top: 0px;
        right: 0;
        left: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        opacity: 0;
        transition: all .25s ease;
    }
     .upsellapp .add-cart-btn.loading .loading-animate:after {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid transparent;
        border-left: 2px solid #fff;
        animation: loading infinite .8s ease .05s;
        position: absolute;
    }
  .upsellapp  .add-cart-btn.loading .loading-animate:before {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid transparent;
        border-left: 2px solid #fff;
        animation: loading infinite .8s linear;
        position: absolute;
        opacity: .6;
    }
    /* .add-cart-btn.loading {
        width: 60px;
    } */
    .upsellapp .add-cart-btn.loading i {
        transform: rotate(-90deg);
        padding-bottom: 4px;
        padding-left: 3px;
    }
   .upsellapp  .add-cart-btn.loading .upsell-add-cart-btn-text{
        /* transform: translate(-140px); */
        visibility: hidden;
    }
    .upsellapp .add-cart-btn.loading .loading-animate {
        opacity: 1;
    }
    @keyframes loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

/* 
.upsell-add_btn__loader{
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke: #ffffff;
}
.upsell-add_btn__loader svg{
    width: 100%;
    height: 100%;
} */
/* loader css end */

.upsellapp .upsellapp{
     width: 450px;
     max-width: 450px;    
}
@media only screen and (max-width: 767px){
   .upsellapp .upsellapp{
        width: auto;
        max-width: 100%;
    }
    
}

.upsellapp .mt-2{
    margin-top: 4px;
}
.upsellapp .img-fluid{
    max-width: 100%;
    height: auto;
    max-height: 150px;
}
.upsellapp .d-flex{
    display: flex;
}
.upsellapp .align-item{
    align-items: center;
}
.upsellapp a{
    text-decoration: none;
    color: #000;
}
.upsellapp .cardStock {
    margin: 14px 0;
    background-color: #F3F3F3;   
    display: block;
    padding: 10px;
    width: 100%;
    box-shadow: 0 0 8px #d5d5d5;
}

.upsellapp .stockDeatil {
    align-items: center;
}

.upsellapp .cardStock .stockDeatil  .prodectImg{
    margin-right: 15px;
    padding: 0px;
    width: 150px;
    height: auto;
    text-align: center;
}
/* .prodectImg img{
     width: 100% !important;
     height: 150px;
     object-fit: contain;
} */
.upsellapp .price{
        color: #000;
        font-weight: 500;
        font-size: 14px !important;
}

.upsellapp #add_custom_btn{
    height: auto;
    min-width: 85px;
    width: auto;
    display: inline-block;
    /* transition: background .2s ease 0s; */
    cursor: pointer;
    outline: none;
    border: none;
    /* transition: all .25s ease; */
    position: relative;
    overflow: hidden;
    min-height: 29px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.upsellapp #add_custom_btn:hover {
        color: var(--add-btn-color-hover) !important;
        background-color: var(--add-btn-background-color-hover) !important;
        /* transition-delay: .25s; */      
    outline-offset: 0 !important;
    box-shadow: unset !important;
  }

  .upsellapp .slick-dots li button:before {
    /* color: #4937ff; */
     color: var(--dots-color) !important;
  }


.upsellapp .slick-dots li.slick-active button:before {
    /* color: #4937ff; */
     color: var(--active-dots-color) !important;
}

.upsellapp .slick-prev:before,
.upsellapp .slick-next:before {   
    color: var(--arrows-color) !important;   
}

 .upsellapp #variation_custom_btn{
    width:  80px;
    height: auto;
    display: inline-block;
    max-width: 80px;     
    transition: background .2s ease 0s;
    cursor: pointer;
    outline: none;
    transition: all .25s ease;
    position: relative;
    overflow: hidden;
    min-height: 29px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin: auto;
    margin-right: 4px;
    margin-top: 4px;
  
 }

 /* Safari 11+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
.upsellapp #variation_custom_btn { 
-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
}}
/* Test website on real Safari 11+ */

/* Safari 10.1 */
@media not all and (min-resolution:.001dpcm){ 
@supports (-webkit-appearance:none) and (not (stroke-color:transparent)) {
.upsellapp #variation_custom_btn { 
-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}
}}

/* Safari 6.1-10.0 (but not 10.1) */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0){ 

.upsellapp selector { 
-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none

}}

.upsellapp #variation_custom_btn:hover {
        color: var(--variation-btn-color-hover) !important;
        background-color: var(--variation-btn-background-color-hover) !important;
  }

.upsellapp .add_custom_btn_right{
    justify-content: right;
    align-items: center;
    display: flex;
}
.upsellapp .varaints-sec{
    margin: 0px 0 0 0;
    display: flex;
    flex-wrap: wrap;   
}

.upsellapp .varaints-sec  select
{
    background: none;
    border: 1px solid gray;
    margin-right: 5px;
}

.upsellapp .varaints-sec select, .varaints-sec button {
    margin-top: 4px;
}

.upsellapp .prodectDetail p{
    line-height: initial;
    margin: 0;
}

.upsellapp .varaints-sec select:focus-visible{
    outline: unset !important;
    outline-offset: 0 !important;
    box-shadow: unset !important;
}
.upsellapp .product-info-right{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.upsellapp .product_name{
        border: none;
}

</style>
<script>
 const headers = {
                 'Content-Type': 'application/x-www-form-urlencoded',
                 'Accept': 'application/json'              
            };
import axios from 'axios';
import Popup from './Popup.vue';
import VueSlickCarousel from 'vue-slick-carousel';
import 'vue-slick-carousel/dist/vue-slick-carousel.css';
  // optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css';
import '../../sass/custom-vue-slick-carousel.scss';

const host = process.env.MIX_APP_URL;
export default {
    name:"CustomProducts",
    components:{
        Popup,VueSlickCarousel
    },
    data(){
        return{ 
           show_btn_loader:true,
           default_product_image: '/images/defaultProduct.png',          
           shopifyDomain :'', 
           shopifyDomain_unique:'',   
           app_is_turn_on:false,     
           upsellProducts : [],  
           upsellOffers : [], 
           upsellOffersMap : [],
           selecteOpt  : [] ,
           shop : [] ,
           popupData : { 
                "image" : null,
                "product_title" :'',
                "display" : "none",
                "notification_type" : "add",//remove
                "add_cart_text" : "Added to Cart",
                "remove_cart_text" : "Removed from Cart",
                "error_cart_text" : "Cart Error",
                "error_cart_message" : "",
                "styles":{                
                    "background": "#ffffff",                   
                    "border-radius": "10px",
                    "border": "0px solid" ,
                    "border-color": "#d5d5d5",
                    "color": "#111111",
                }                              
            },     
            settings : [] ,
            upsell_grid_style :{
                 "background": "#ffffff",
                 "border": "0px solid",
                 "border-color": "#d5d5d5",
                 "padding": "15px",
                 "border-radius": "10px"               
            }, 
            upsell_grid_box_shadow_style:{
                   "box-shadow": "0px 0px 8px 0px #d5d5d5" //inset,x_offset,y_offset,blur,spread
            },
            upsell_add_btn_style :{
                 "background": "#111111",
                 "border": "1px solid",
                 "border-color": "#000000",
                 "padding": "0px",
                 "border-radius": "0px" ,             
                 "font-size": "14px",
                 "font-weight": "700",
                 "color": "#ffffff",
                 "text-align": "center",                    
            },   
             upsell_add_btn_hover_style:{
                 "background": "#111111",
                 "color": "#ffffff",
            },
             upsell_add_btn_is_loader_turn_on:false,
             upsell_variation_btn_style :{
                 "background-color": "#ffffff",
                 "border": "1px solid",
                 "border-color": "#000000",
                 "padding": "0px",
                 "border-radius": "0px" ,             
                 "font-size": "14px",
                 "font-weight": "400",
                 "color": "#111111",                        
            },  
                      
            upsell_variation_btn_hover_style:{
                 "background": "#F3F3F3",
                 "color": "#111111",
            },   
                    
            add_btn_text:"Add To Cart",  
            notification_popup_show : false,
            upsell_product_details_style : {
                 "font-size": "16px",
                 "font-weight": "600",
                 "color": "#000000",
                 "text-align": "left"
            },
            currency:'',
            upsell_grid_placement:'', 
            is_slider_turn_on:false,
            is_slide_badge_turn_on:false,
            slider_settings:{
                arrows: true,
                dots: true,
                dotsClass: "slick-dots custom-slick-dots",
                infinite: false,
                speed: 500,
                slidesToShow: 1,
                slidesToScroll: 1,               
                // "centerMode": true,
                // "fade": true,
                // "lazyLoad": "ondemand",
                // "centerPadding": "20px",
                // "autoplay": false,
                //  "autoplaySpeed": 2000,
                //  "vertical": false,
                //  "verticalSwiping": false,
                // "swipeToSlide": true,
                  adaptiveHeight: false,
                  accessibility: false,
                  autoplay:false,
                  autoplaySpeed:3000,
                  rows:1,                
            },
            upsell_slide_badge_style:{
                 "background": "#4033df",
                 "color": "#ffffff",
            },
            upsell_slide_dots_color: "#4937ff" ,    
            upsell_slide_active_dots_color:"#4937ff",
            upsell_arrows_color:"#111111"     
        }   
    },
    mounted(){                     

        //console.log("shopifyDomain1",this.shopifyDomain);
        
              
        var shopifyDomainShop = this.getParams('upsell_shopify');
        //console.log("shopifyDomainShop",shopifyDomainShop);
        this.shopifyDomain = shopifyDomainShop.shop;
        
         let shopifyDomain_unique_arry =  this.shopifyDomain.split(".");
          if(shopifyDomain_unique_arry.length > 0){
                this.shopifyDomain_unique = shopifyDomain_unique_arry[0].replace("-", "_");
          }      

        // console.log("shopifyDomain2",this.shopifyDomain);

        let url = window.location.href.split('?')[0];

        //console.log("href",url);
        if (url.includes("/")) {
            let handle = url.split('/').pop();
            //console.log("handle",handle);
            if (url.includes("/products/") && handle) {
                this.getUpSellProductsByHandle(handle);
            }
        }        
    },
    computed: {
           upsell_add_btn_hover_style_var(){
                return{
                    '--add-btn-color-hover': this.upsell_add_btn_hover_style.color,
                    '--add-btn-background-color-hover': this.upsell_add_btn_hover_style.background,                                    
                }
           }, 
           upsell_variation_btn_hover_style_var(){
                return{
                        '--variation-btn-color-hover': this.upsell_variation_btn_hover_style.color,
                        '--variation-btn-background-color-hover': this.upsell_variation_btn_hover_style.background,                                    
                    }
           },  
           upsell_slide_dots_style(){
                    return{
                        '--dots-color': this.upsell_slide_dots_color,
                        '--active-dots-color': this.upsell_slide_active_dots_color,   
                        '--arrows-color' : this.upsell_arrows_color                                                  
                    }              
           }     
     },    
    methods:{
        defaultProductImage : function () {
      //  console.log("image ::::");
      // `this` points to the vm instance
         const host = process.env.MIX_APP_URL;
        // console.log("host",host);
        // console.log("image",host+this.default_product_image);
         return host+this.default_product_image;
        },  
        imageLoadError (event) {
                event.target.src = this.defaultProductImage();                
         },
         getParams(script_name) {
            // Find all script tags
            var scripts = document.getElementsByTagName("script");
            // Look through them trying to find ourselves
            for (var i = 0; i < scripts.length; i++) {
                if (scripts[i].src.indexOf("/" + script_name) > -1) {
                    // Get an array of key=value strings of params
                    var pa = scripts[i].src.split("?").pop().split("&");
                    // Split each key=value into array, the construct js object
                    var p = {};
                    for (var j = 0; j < pa.length; j++) {
                        var kv = pa[j].split("=");
                        p[kv[0]] = kv[1];
                    }
                    return p;
                }
            }
            // No scripts match

            return {};
         },
     
         getUpSellProductsByHandle(handle){
             //console.log("handle",handle);
             let endpoint = host+"/front/upsell/products";
             //console.log("endpoint",endpoint);
           
            let self = this;

            let params = {
                   "shopify_domain":this.shopifyDomain,
                   "shopify_handle" : handle
            };
           
            axios.post(endpoint,params).then(function(res){

                 if(res.data.success){
                       var upsellsOffersData = res.data.offers;

                      console.log("upsellsOffersData",upsellsOffersData);
                 
                       self.shop = res.data.shop;
                       self.currency = res.data.shop.currency;
                    

                     upsellsOffersData.forEach((element,index) => {
                            var offer = {};
                            //console.log("element",element);
                          
                            offer.id = element.id;
                            offer.name = element.name;
                            offer.title = element.title;
                           
                            var upsellProducts = element.products; 

                           upsellProducts.forEach((element,index) => {
                                element.variants.forEach((variant)=>{
                                 //   console.log("variant",variant);
                                    variant.add = false;
                                    
                                    let matchedOptions = 0;
                                    for (let option in element.options) { 

                                      variant.selectedOptions.forEach((sel)=>{
                                            //console.log('inner ',sel.value);

                                            if("Title" == option){
                                                matchedOptions++;
                                                // //console.log(option);
                                            }
                                        })
                                    }
                                    if(matchedOptions == Object.keys(element.options).length){
                                        // //console.log(variant);
                                      //  variant.main = true;
                                         variant.selected = true;
                                         element.options = [];
                                    }else{
                                      //  variant.main = false;
                                        variant.selected = false;
                                    }
                                })
                    });
                            offer.products = upsellProducts;
                            self.upsellOffers.push(offer);                           
                      });
                 //   console.log("new_offers",self.upsellOffers);
                       
             let spareDataMap = JSON.parse(JSON.stringify(self.upsellOffers));

            spareDataMap.forEach((elementTop,indexTop) => {
               
                    elementTop.products.forEach((element,index) => {

                      //  console.log("element",element);
                                    

                      let selectedVariants = element.variants.filter((variant,variant_index)=>{
                                         
                            // if(variant.selected==false){
                            //       element.variants.splice(variant_index, 1);
                            // }             
                            if(variant.selected==true){
                                return variant;
                            }                                                 

                        });
                      
                     
                       elementTop.products[index].variants = selectedVariants;                                     

                       
                    });
                
             });
           
            self.upsellOffersMap = spareDataMap;    



                    // self.upsellProducts.forEach((element,index) => {
                    //     element.variants.forEach((variant)=>{
                    //         variant.add = false;
                            
                    //         let matchedOptions = 0;
                    //         for (let option in element.options) {

                    //             variant.selectedOptions.forEach((sel)=>{
                    //                 //console.log('inner ',sel.value);

                    //                 if(sel.value == element.options[option][0]){
                    //                     matchedOptions++;
                    //                     // //console.log(option);
                    //                 }
                    //             })
                    //         }
                    //         if(matchedOptions == Object.keys(element.options).length){
                    //             // //console.log(variant);
                    //             variant.selected = true;
                    //         }else{
                    //             variant.selected = false;
                    //         }
                    //     })
                    // });

                    //console.log("upsellOffers",self.upsellOffers);

                    //console.log("upsellOffers",self.upsellOffers);


                //Settings :: Dynamic styles css=================================================================================

                  if(res.data.settings){

                    self.settings = res.data.settings.settings;
                    self.app_is_turn_on = res.data.settings.is_app_enable;
                    console.log('self.app_is_turn_on :: ' + self.app_is_turn_on);
                    //console.log("this.settings",self.settings);
                    //console.log("this.settings.upsell_grid_bg_color",self.settings.upsell_grid_bg_color);

                    // START :: Product grid style----------------

                     let upsell_grid_style_dynamic = {
                                "background": self.settings.upsell_grid_bg_color,
                                "border": self.settings.upsell_grid_border_size+"px solid "+self.settings.upsell_grid_border_color,
                                "border-color": self.settings.upsell_grid_border_color,
                                "padding": self.settings.upsell_grid_padding+"px",
                                "border-radius": self.settings.upsell_grid_border_radius+"px"               
                            };
                    self.upsell_grid_style = upsell_grid_style_dynamic;
                    self.upsell_grid_placement =  self.settings.upsell_grid_placement;

                    
                    let box_shadow = self.settings.upsell_grid_box_shadow;
                    let shadow_type = box_shadow.type=="inset" ? "inset" : '';
                    let upsell_grid_box_shadow_style_dynamic = {
                         "box-shadow" : shadow_type+" "+box_shadow.x_offset+"px "+box_shadow.y_offset+"px "+box_shadow.blur+"px "+box_shadow.spread+"px "+box_shadow.color
                    };               

                    self.upsell_grid_box_shadow_style = upsell_grid_box_shadow_style_dynamic;

                     // END :: Product grid style-------------------
                    
                     // START :: Add button style----------------
                      self.add_btn_text = self.settings.upsell_add_btn_text;

                      let upsell_add_btn_style_dynamic = {
                            "background": self.settings.upsell_add_btn_bg_color,
                            "border": self.settings.upsell_add_btn_border_size+"px solid "+self.settings.upsell_add_btn_border_color,
                            "border-color": self.settings.upsell_add_btn_border_color,
                            "padding": self.settings.upsell_add_btn_padding+"px",
                            "border-radius": self.settings.upsell_add_btn_border_radius+"px", 
                            "font-size": self.settings.upsell_add_btn_text_font_size+"px",
                            "font-weight":self.settings.upsell_add_btn_text_font_weight,
                            "color": self.settings.upsell_add_btn_text_font_color,
                            "text-align": self.settings.upsell_add_btn_text_alignment, 
                      };
                     
                      self.upsell_add_btn_style = upsell_add_btn_style_dynamic;
                     

                      let upsell_add_btn_hover_style_dynamic = {
                            "background": self.settings.upsell_add_btn_bg_hover_color,
                            "color": self.settings.upsell_add_btn_text_font_hover_color,
                      };
                       self.upsell_add_btn_hover_style = upsell_add_btn_hover_style_dynamic;
                     
                       self.upsell_add_btn_is_loader_turn_on = self.settings.upsell_add_btn_is_loader_turn_on;


                     // END :: Add button style----------------

                      // START :: Variation button style----------------
                       
                         let upsell_variation_btn_style_dynamic = {
                            "background-color": self.settings.upsell_variation_btn_bg_color,
                            "border": self.settings.upsell_variation_btn_border_size+"px solid "+self.settings.upsell_variation_btn_border_color,
                            "border-color": self.settings.upsell_variation_btn_border_color,
                            "padding": self.settings.upsell_variation_btn_padding+"px",
                            "border-radius": self.settings.upsell_variation_btn_border_radius+"px", 
                            "font-size": self.settings.upsell_variation_btn_text_font_size+"px",
                            "font-weight":self.settings.upsell_variation_btn_text_font_weight,
                            "color": self.settings.upsell_variation_btn_text_font_color,
                            
                      };
                     
                      self.upsell_variation_btn_style = upsell_variation_btn_style_dynamic;

                      let upsell_variation_btn_hover_style_dynamic = {
                            "background": self.settings.upsell_variation_btn_bg_hover_color,
                            "color": self.settings.upsell_variation_btn_text_font_hover_color,
                      };
                      self.upsell_variation_btn_hover_style = upsell_variation_btn_hover_style_dynamic;

                    // END :: Variation button style----------------

                     // START :: Product Font customization ----------------
                    
                    let upsell_product_details_style_dynamic ={
                       "font-size": self.settings.upsell_product_text_font_size+"px",
                       "font-weight":self.settings.upsell_product_text_font_weight,
                       "color": self.settings.upsell_product_text_font_color,
                       "text-align": self.settings.upsell_product_text_alignment                        
                    }

                    self.upsell_product_details_style = upsell_product_details_style_dynamic;
                    self.notification_popup_show = self.settings.upsell_notification_is_turn_on;

                    // END :: Product Font customization ----------------

                   // START :: Notification  customization ---------------- 

                    let upsell_notification_style = {
                                    "background": self.settings.upsell_notification_bg_color,
                                    "border": self.settings.upsell_notification_border_size+"px solid "+self.settings.upsell_notification_border_color,
                                    "border-color": self.settings.upsell_notification_border_color,
                                    "border-radius": self.settings.upsell_notification_border_radius+"px",
                                    "color": self.settings.upsell_notification_text_font_color,                                    
                    };

                     self.popupData.add_cart_text = self.settings.upsell_notification_add_cart_text;
                     self.popupData.remove_cart_text = self.settings.upsell_notification_remove_cart_text;
                     self.popupData.styles = upsell_notification_style;

                   // END :: Notification  customization ----------------

                // START :: Slider  customization ---------------- 
                  let sliderOptions = self.settings.upsell_slider_settings;

                        self.is_slider_turn_on = sliderOptions.is_slider_turn_on;
                        self.slider_settings.arrows = sliderOptions.arrows;
                        self.slider_settings.dots = sliderOptions.dots;
                        self.slider_settings.infinite = sliderOptions.infinite;
                        self.slider_settings.speed = sliderOptions.speed;                       
                        self.slider_settings.slidesToScroll = sliderOptions.slidesToScroll;
                        self.slider_settings.autoplay = sliderOptions.autoplay;
                        self.slider_settings.rows = sliderOptions.rows;
                        self.slider_settings.autoplaySpeed = sliderOptions.autoplaySpeed;

                         self.is_slide_badge_turn_on = sliderOptions.is_slide_badge_turn_on;

                        let upsell_slide_badge_style_dynamic = {
                            "background": sliderOptions.slide_badge_bg_color,
                            "color": sliderOptions.slide_badge_text_font_color,                             
                        }

                        self.upsell_slide_badge_style = upsell_slide_badge_style_dynamic;

                        self.upsell_slide_dots_color = sliderOptions.dots_color;    
                        self.upsell_slide_active_dots_color = sliderOptions.active_dots_color;
                        self.upsell_arrows_color = sliderOptions.arrows_color;

                // END :: Slider  customization ----------------
                     
                  }

                //@end Settings :: Dynamic styles css=============================================================================


                 }
                 //console.log("res",self.upsellOffers);
             }).catch(function(error){ 
                 //console.log("error",error);
             });  
         },
        onChangeOption(event,changed_option,item,i,offer_index){

            // console.log("event",event);  
            // console.log('val',event.target.value);
            // console.log("changed_option",changed_option);  
            // console.log("item",item);
            // console.log("i",i);
            // console.log("offer_index",offer_index);

            let upsellSelectDom = document.querySelectorAll("."+this.shopifyDomain_unique+"_"+this.upsell_grid_placement+"_upsell_select_offer"+offer_index+'item_index'+i);
                 
            event.target.options.forEach((option,index) => {

                if(event.target.value){
                    //console.log("option",option);
                    //console.log("option",$(option).val());
                     $(option).attr("data-selected",null);
                    if($(option).val()==event.target.value){
                       $(option).attr("data-selected",event.target.value);
                       
                    }
                }else{
                   // console.log("value is blank");
                       
                            $(event.target.options[0]).attr("data-selected",changed_option);
                            $(event.target.options[0]).attr("data-name",changed_option);
                            $(upsellSelectDom).parent().parent().next('.variant_error').text('');
                        
                         return 0;
                    }
            });
      if(event.target.value){
           let spareData = JSON.parse(JSON.stringify(this.upsellOffers))

            spareData.forEach((elementTop,indexTop) => {
                if(indexTop == offer_index){

                    elementTop.products.forEach((element,index) => {
                    if(index == i){
                       
                     // console.log("upsellSelectDom",upsellSelectDom);                    

                        element.variants.forEach((variant,variant_index)=>{
                  
                          let matchedselectedOptions = 0;
                              
                             upsellSelectDom.forEach((select,index) => {   

                                   // if(select.name!==changed_option){                                            
                                        select.options.forEach((option,index) => {
                                           
                                           var selected_opt = $(option).attr("data-selected");
                                           
                                           if(selected_opt && selected_opt!="" && selected_opt!=null){                                              
                                            variant.selectedOptions.forEach((sel)=>{
                                                 if(sel.value == selected_opt && sel.name == select.name){
                                                     //  console.log("selected_opt",selected_opt);
                                                     //  console.log("sel",selected_opt);
                                                       matchedselectedOptions++; 
                                                       return 0;
                                                 }
                                            });
                                         }                                           
                                    });                                     
                                // }                            
                             });
                            
                            if(matchedselectedOptions == Object.keys(element.options).length){
                               // console.log("element.options",element.options);
                               // console.log("element.options",Object.keys(element.options).length);
                               // console.log("matchedOptions",matchedselectedOptions);
                              //  console.log(variant.id);
                                variant.selected = true;
                                                              
                              //  variant.main = true;
                            }else{
                              //element.variants.splice(variant_index, 1);
                                // //console.log('varint not matched',variant.id);
                                variant.selected = false;
                               // variant.main = false;
                            }                          

                        })

                       
                       }
                    });
                }
             });
            this.upsellOffers = spareData;
           // console.log("spareData-upsellOffers",this.upsellOffers);


           let spareDataMap = JSON.parse(JSON.stringify(this.upsellOffers));

            spareDataMap.forEach((elementTop,indexTop) => {
               // if(indexTop == offer_index){

                    elementTop.products.forEach((element,index) => {
                   // if(index == i){
                

                      let selectedVariants = element.variants.filter((variant,variant_index)=>{
                                         
                            // if(variant.selected==false){
                            //       element.variants.splice(variant_index, 1);
                            // }             
                            if(variant.selected==true){
                                return variant;
                            }                                                 

                        });
                     
                       elementTop.products[index].variants = selectedVariants;                    

                      // }
                    });
              //  }
             });
           
            this.upsellOffersMap = spareDataMap;

              //console.log("spareData-upsellOffersMap",this.upsellOffersMap);
      }

        },
        submitItemToCartError(i,offer_index){

//console.log("submit-cart :: error");
  let upsellSelectDom = document.querySelectorAll("."+this.shopifyDomain_unique+"_"+this.upsell_grid_placement+"_upsell_select_offer"+offer_index+'item_index'+i);
                       
                     
                   $(upsellSelectDom).parent().parent().next('.variant_error').text('');
                                         
                             let errors = [];

                             upsellSelectDom.forEach((select,index) => {  
                                                                                                        
                                        select.options.forEach((option,index) => {
                                           
                                           var selected_opt = $(option).attr("data-selected");

                                           var selected_name = $(option).attr("data-name");
                                           if(selected_name){
                                            if(selected_opt==selected_name){ 
                                                        errors.push(selected_name);                                                                                                                                                      
                                            }    
                                           }                                       
                                    });                                                         
                             });

                            if(errors.length > 0){
                               
                                $(upsellSelectDom).parent().parent().next('.variant_error').text("Please select a "+errors);
                                $(upsellSelectDom).parent().parent().next('.variant_error').focus();
                                                               
                            }

                // console.log("errors",errors);

        },
        submitItemToCart(variant,offer_id,i,offer_index){

//console.log("submit-cart");

 let upsellSelectDom = document.querySelectorAll("."+this.shopifyDomain_unique+"_"+this.upsell_grid_placement+"_upsell_select_offer"+offer_index+'item_index'+i);
                       
                $(upsellSelectDom).parent().parent().next('.variant_error').text('');
                             let errors = [];

                             upsellSelectDom.forEach((select,index) => {  
                                
                                                                           
                                        select.options.forEach((option,index) => {
                                           
                                           var selected_opt = $(option).attr("data-selected");

                                           var selected_name = $(option).attr("data-name");
                                            if(selected_name){
                                                    if(selected_opt==selected_name){ 
                                                                errors.push(selected_name);                                                                                                                                                      
                                                    }
                                            }                                           
                                    });   
                                                                      
                                                         
                             });

                // console.log("errors",errors);
                  if(errors.length > 0){
                               
                              $(upsellSelectDom).parent().parent().next('.variant_error').text("Please select a "+errors);
                               $(upsellSelectDom).parent().parent().next('.variant_error').focus();
                                $('.variant_error').focus();    
                     }


          if(errors.length <= 0){
               $(upsellSelectDom).parent().parent().next('.variant_error').text('');
          let cartBtn = document.querySelector(".add_cart_btn_"+variant.legacyResourceId);

           //console.log("cartBtn",cartBtn);
           //console.log("data-variant-id",cartBtn.getAttribute("data-variant-id"));

                 if(cartBtn.getAttribute("data-variant-id")) {
                     //console.log("remove item");
                    this.removeItem(variant,cartBtn);                
                 } 
                 else {
                    //console.log("add item");
                    this.addItem(variant,cartBtn);
                 
                   // console.log("Offer Clicked",offer_id);

                    this.AddOfferClickAnalytics(offer_id);

                } 
          }
             
        },
        addItem(variant,cartBtn){
           // console.log("variant",variant); 
                       
                if(this.upsell_add_btn_is_loader_turn_on){        
                   cartBtn.classList.add('loading');
                }

                let variant_id  = variant.legacyResourceId;
                let formData = {
                    items:[{
                       id: variant_id,
                       quantity: 1                  
                    }]
               };
            let self = this;
            //console.log("formData",formData);
            //console.log("window.location.origin",window.location.origin);
            axios({
                method: "POST",
                url: window.location.origin + "/cart/add.js",
                data: formData
            })
            .then((res) => {
                //  console.log("cart-add Res",res);              

                
               // cartBtn.textContent = "Remove from cart"
             //   cartBtn.textContent = "Remove from cart"
                cartBtn.setAttribute("data-variant-id", variant_id);

                if(this.upsell_add_btn_is_loader_turn_on){  
                    cartBtn.classList.remove('loading');  
                }

                let cartBtnText = cartBtn.querySelector("span.upsell-add-cart-btn-text");
                cartBtnText.textContent = "Remove";
             
                //console.log("cart-add Res",res);
                //console.log("this.popupData",self.popupData);
                //console.log("notification_popup_show",self.notification_popup_show);
                               
                self.popupData.image = res.data.items[0].image;  
                self.popupData.product_title = res.data.items[0].product_title; 
                self.popupData.notification_type = "add";
                if(self.notification_popup_show=="true" || self.notification_popup_show==true){
                    self.popupData.display = "block"; 
                }
                setTimeout(() => {
                    self.popupData.display = "none"; 
                }, 2000);                                             

            })
            .catch((e) => {
             //   console.log("e",e);
               // console.log("e-res",e.response);
                  if(e.response.status && e.response.status==422){
                      self.popupData.image = null;  
                      self.popupData.notification_type = "error";
                      self.popupData.error_cart_text = e.response.data.message;
                      self.popupData.error_cart_message = e.response.data.description;

                       if(this.upsell_add_btn_is_loader_turn_on){  
                                cartBtn.classList.remove('loading');  
                            }

                    if(self.notification_popup_show=="true" || self.notification_popup_show==true){
                            self.popupData.display = "block"; 
                    }                     

               }
            });
        }, 
        removeItem(variant,cartBtn){
           // console.log("variant",variant);  
            
            if(this.upsell_add_btn_is_loader_turn_on){  
                cartBtn.classList.add('loading');
            }
             
                let variant_id  = variant.legacyResourceId;
                 let formData = { 
                       "line": 1,
                       "id": variant_id.toString(),
                       "quantity": 0,
                  };

              
            let self = this;
          //  console.log("formData",formData);
            //console.log("window.location.origin",window.location.origin);
            axios({
                method: "POST",
                url: window.location.origin + "/cart/change.js",
                data: formData
            })
            .then((res) => {

               // cartBtn.textContent = self.add_btn_text;

                let cartBtnText = cartBtn.querySelector("span.upsell-add-cart-btn-text");
                cartBtnText.textContent = self.add_btn_text;

                cartBtn.removeAttribute("data-variant-id");
              
                if(this.upsell_add_btn_is_loader_turn_on){  
                    cartBtn.classList.remove('loading');
                }

                //console.log("cart-Remove Res",res);              
                self.popupData.image = null;  
                self.popupData.notification_type = "remove";
                

                 //console.log("this.popupData",self.popupData);
                 //console.log("notification_popup_show",self.notification_popup_show);

                if(self.notification_popup_show=="true"){
                    self.popupData.display = "block"; 
                }
                setTimeout(() => {
                    self.popupData.display = "none"; 
                }, 2000);

            })
            .catch((e) => {
                //console.log(e);
            });


        },
        AddOfferClickAnalytics(offer_id){

            let endPoint = host+"/front/upsell/analytics/click/add";

            let params = {
                   "shopify_domain":this.shopifyDomain,
                   "offer_id" : offer_id
            };
                             
            axios.post(endPoint,params).then((res) => {  
                if (res.data.success) {
                  //  console.log("offer-clicked-added");                                   
                }                                    
            }).catch(function(error){
                   // console.log("error :: ",error);
            }).finally(res => {
                    
            });
        }      
        
    },
    beforeMount(){
        //console.log("beforeMount");
    },
    created(){
       
        //console.log("created"); 
        //console.log("counter",this.counter);       
    },
    updated(){
        //console.log("updated");        
    }
         
}
</script>

<style>
#upsell_app{
    display : block;
}
</style>