<template>
    <div>
         <div class="modal upsell_modal" :style="{display : popupData.display}">
            <div class="modal-overlay modal-toggle"></div>
            <div class="modal-wrapper modal-transition" v-show="popupData.notification_type!='error'">
                <div class="modal-header d-flex" :style="popupData.styles">
                    <div class="imgProdect" v-show="popupData.notification_type=='add'">
                        <img 
                         :src="(popupData.image!==null ? popupData.image : defaultProductImage())"
                          @error="imageLoadError"
                        class="img-fluid" alt="product"  width="30px">
                    </div>
                    <div class="modelContain">
                        <h3 :style="{'color':popupData.styles.color}" class="add_cart_text">{{popupData.notification_type=="add" ? popupData.add_cart_text : popupData.remove_cart_text}}</h3>
                        <p :style="{'color':popupData.styles.color}">{{popupData.product_title}}</p>
                    </div>
                    <div>                        
                        <button class="modal-close modal-toggle" @click="closeFunction()" >&times;</button>
                    </div>
                </div>
            </div>

              <div class="modal-wrapper modal-transition" v-show="popupData.notification_type=='error'">
                <div class="modal-header d-flex" :style="popupData.styles">                   
                    <div class="modelContain">
                        <h3 :style="{'color': '#111111'}" class="add_cart_text">{{popupData.error_cart_text}}</h3>
                        <p :style="{'color': 'rgb(229 26 26)'}">{{popupData.error_cart_message}}</p>
                    </div>
                    <div>                        
                        <button class="modal-close modal-toggle" @click="closeFunction()" >&times;</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
</template>
<script>
export default {
    name:"popup",
    props : ["popupData"],
    data(){
      return{
        default_product_image: '/images/defaultProduct.png',
      }
    },
    mounted(){
             //  console.log("Popup mounted",this.popupData);
    },    
    methods : {
        defaultProductImage : function () {
       // console.log("image ::::");
      // `this` points to the vm instance
         const host = process.env.MIX_APP_URL;
        // console.log("host",host);
       //  console.log("image",host+this.default_product_image);
         return host+this.default_product_image;
        },  
        imageLoadError (event) {
                event.target.src = this.defaultProductImage();                
         },
        closeFunction(){
            this.popupData.display = "none";
        }
    },
    created(){
        
    }
}
</script>

<style>

.upsell_modal {
    position: fixed;
    z-index: 10000; /* 1 */
    top: 0;
    left: 0;
    visibility: visible;
    width: 100%;
    height: 100%;
}

.upsell_modal.is-visible {
    visibility: visible;
}

.upsell_modal .modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.upsell_modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.upsell_modal .modal-wrapper {
  position: absolute;
  z-index: 9999999999;
  top: 20%;
  right: 1%;
  width: 32em;
  margin-left: -16em;
}

.upsell_modal .modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  /* opacity: 0; */
}

.upsell_modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

.upsell_modal .modal-header,
.upsell_modal modal-content {
  padding: 15px;
}

.upsell_modal .modal-header {
  position: relative;
  border:0px solid #d5d5d5;
  border-radius: 6px;
  background: #ffffff;
  padding: 5px 10px;
  box-shadow: 0 0 8px #d5d5d5;
}
.upsell_modal .modal-close {
  position: absolute;
  opacity: inherit;
  top: 15%;
    right: 2%;
  padding: 0em;
  /* color: #aaa; */
  background: none;
  border: 0;
  transform: translateY(-50%);
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
   cursor: pointer;
}
.upsell_modal .modal-close i{
    font-size: 20px;
}

.upsell_modal .modal-close:hover {
  color: #777;
}

.upsell_modal .modal-heading {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.upsell_modal .modal-header .imgProdect{
    display: flex;    
    align-items: center;
    margin-right: 5px;
    padding: 0px;
    width: 100px;
    height: 100px;
}
.upsell_modal .imgProdect img{
     width: 100% !important;
     height: 100%  !important;
     object-fit: contain;
}

.upsell_modal .modal-header .modelContain{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.upsell_modal h3.add_cart_text{
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: left;
    line-height: 0px;
    margin: 15px 0;
}
.upsell_modal .modelContain p{
    line-height: initial;
    margin-top: 0px;
}
.upsell_modal a {   
    color: inherit !important;
}



@media only screen and (max-width: 767px){
   .upsell_modal .modal-wrapper {
        width: 25em;
}
    
}
   </style>