<template>
<div p-color-scheme="light">
  <div class="Polaris-SkeletonPage__Page" role="status" aria-label="Page loading">
    <div class="Polaris-SkeletonPage__Header">
      <div class="Polaris-SkeletonPage__TitleAndPrimaryAction">
        <div class="Polaris-SkeletonPage__TitleWrapper">
          <div class="Polaris-SkeletonPage__SkeletonTitle"></div>
        </div>
        <div class="Polaris-SkeletonPage__PrimaryAction">
          <div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeLarge"></div>
        </div>
      </div>
    </div>
    <div class="Polaris-SkeletonPage__Content">
      <div class="Polaris-Layout">
        <div class="Polaris-Layout__Section">
          <div class="Polaris-Card">
            <div class="Polaris-Card__Section">
              <div class="Polaris-SkeletonBodyText"></div>
              <div class="Polaris-SkeletonBodyText"></div>
              <div class="Polaris-SkeletonBodyText"></div>
            </div>
          </div>
          <div class="Polaris-Card">
            <div class="Polaris-Card__Section">
              <div class="Polaris-TextContainer">
                <div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall"></div>
                <div class="Polaris-SkeletonBodyText"></div>
                <div class="Polaris-SkeletonBodyText"></div>
                <div class="Polaris-SkeletonBodyText"></div>
              </div>
            </div>
          </div>
          <div class="Polaris-Card">
            <div class="Polaris-Card__Section">
              <div class="Polaris-TextContainer">
                <div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall"></div>
                <div class="Polaris-SkeletonBodyText"></div>
                <div class="Polaris-SkeletonBodyText"></div>
                <div class="Polaris-SkeletonBodyText"></div>
              </div>
            </div>
          </div>
           <div class="Polaris-Card">
            <div class="Polaris-Card__Section">
              <div class="Polaris-TextContainer">
                <div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall"></div>
                <div class="Polaris-SkeletonBodyText"></div>
                <div class="Polaris-SkeletonBodyText"></div>
                <div class="Polaris-SkeletonBodyText"></div>
              </div>
            </div>
          </div>
           <div class="Polaris-Card">
            <div class="Polaris-Card__Section">
              <div class="Polaris-TextContainer">
                <div class="Polaris-SkeletonDisplayText__DisplayText Polaris-SkeletonDisplayText--sizeSmall"></div>
                <div class="Polaris-SkeletonBodyText"></div>
                <div class="Polaris-SkeletonBodyText"></div>
                <div class="Polaris-SkeletonBodyText"></div>
              </div>
            </div>
          </div>
        </div>       
      </div>
    </div>
  </div>
  <div id="PolarisPortalsContainer"></div>
</div>
</template>
<script>
export default {
     name: "ContentLoading",
}
</script>